#marketing.container
  .row
    .col-lg-12
      %h1
        %i.bi.bi-megaphone-fill
        Marketing

  .row
    .col-lg-4
      .row.mb-5
        .col-lg-12
          %h2 Where did you hear about Tree Recycle?
          - heard_about_source_hash = Reservation.not_archived.group(:heard_about_source).count
          = pie_chart Hash[heard_about_source_hash.map {|key, value| [key&.humanize&.capitalize, value] }]


          %table.table#heard-from-source-table

            - @sources.each do |source|
              %tr
                %th= source[0].humanize.capitalize
                %td= Reservation.where(heard_about_source: source[0]).count

      .row.mb-3
        .col-lg-12
          %h2 Donations
      .row.mb-5
        .col-lg-12
          = column_chart [ ["Online", Donation.sum(:amount).to_i]], prefix: "$", title: 'Total Donations', thousands: ",", width: '400px'
      .row.mb-5
        .col-lg-12
          %table.table#donations-analysis
            %thead 
            %tbody 
              - @donation_counts.each do |type, count|
                %tr
                  %th
                    - if type.nil?
                      No selection
                    - else
                      = type.humanize.capitalize
                  %td.count
                    = count
                    = surround("(", ")") do 
                      = number_to_percentage(count.to_f / @reservations_count * 100, precision: 1)


    .col-lg-7.offset-lg-1
      .row.mb-5
        .col-lg-12
          %h2 Reservations by day
          = line_chart Reservation.not_archived.group_by_day(:created_at).count
      .row.mb-5
        .col-lg-12
          %h2 Cumulative reservations
          - t = 0
          - values = Reservation.not_archived.group_by_day(:created_at).count.each_with_object({}) { |(k, v), a| t += v; a[k] = t }
          = line_chart values 
