!!!

%html
  %head
    %meta(charset='utf-8')
    = wicked_pdf_stylesheet_link_tag "pdf"
    %link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css")

  %body
    - @zones.each do |zone|
      .driver-route.pdf
        - zone.routes.each do |route|
          - next if route.reservations.pending.empty?

          / .zone-leaders
          /   %span.Zone Leaders:
          /   - zone.drivers.leader.each do |l|
          /     = l.name
          /     - if l.phone.present?
          /       = surround("(",")") do
          /         = l.phone


          .table-responsive
            %table.table.driver-routes
              %thead

                .header
                  .zone= zone.name
                  .route= route.name
                %tr
                  %th.buttons
                  %th Address

                  %th.notes Notes
                  %th Donation
                  %th.name Name/Phone
              %tbody
                - route.reservations.pending.each do |reservation|
                  %tr
                    %td.buttons
                      %i.bi.bi-square
                      %span Picked Up
                      %i.bi.bi-square
                      %span Missing
                    %td.street= reservation.street

                    %td.notes.smaller= reservation.notes
                    %td.donation
                      - if reservation.donation
                        - if reservation.online_donation?
                          %i.bi.bi-check-square
                          %span Online
                        - elsif reservation.cash_or_check_donation?
                          %i.bi.bi-check-square
                          %span Order: Cash/Check
                          %br
                          %i.bi.bi-square
                          %span Door hanger
                          %br
                          %i.bi.bi-square
                          %span Rec'd: Cash/Check $____
                    %td.name.smaller
                      = reservation.name
                      %br
                      = reservation.phone
