#driver-zones.container
  .row
    .col-lg-12
      %h1
        %i.fa-solid.fa-road
        Routes

  .row
    .col-md-3
    .col-md-6
      .table-responsive
        %table.table.zones-table
          %thead
            %tr
              %th
              %th.data Pending
              %th.data Missing
              %th.data Picked
          %tbody

            / Zones
            - @zones.each do |zone|
              - next if zone.routes.empty?
              - pending_pickup_count = zone.reservations.pending_pickup.count
              - missing_count = zone.reservations.missing.count
              - picked_up_count = zone.reservations.picked_up.count
              - next if pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones
              %tr
                %th.route-zone.zone
                  = zone.name
                  = link_to driver_reservations_map_path(zone_id: zone.id) do
                    %i.fa-solid.fa-map
                  - if admin_view?
                    = link_to edit_admin_zone_path(zone.id) do
                      %i.fa-solid.fa-wrench
                    = link_to admin_zone_path(zone.id), method: :delete, data: { "turbo-method": :delete } do
                      %i.fa-solid.fa-trash
                %td.data.zone-pending-pickup-count= pending_pickup_count
                %td.data.missing-count= missing_count
                %td.data.picked-up-count= picked_up_count

              / Routes
              - zone.routes.each do |route|
                - pending_pickup_count = route.reservations.pending_pickup.count
                - picked_up_count = route.reservations.picked_up.count
                - missing_count = route.reservations.missing.count
                - next if pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones
                %tr
                  %th.route
                    %span.div{id: "route-name-" + route.id.to_s }= link_to route.name, driver_route_path(route)
                    = link_to driver_reservations_map_path(route_id: route.id) do
                      %i.fa-solid.fa-map
                    - if admin_view?
                      = link_to edit_admin_route_path(route.id) do
                        %i.fa-solid.fa-wrench
                      = link_to admin_route_path(route.id), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                        %i.fa-solid.fa-trash
                  %td.data.pending_pickup.pending-pickup-count#route-pending-pickup-count
                    = pending_pickup_count
                  %td.data.missing.missing-count= missing_count
                  %td.data.picked_up= picked_up_count

            / Routed, but un-zoned
            - if Reservation.not_archived.joins(:route).where("routes.zone_id IS ?", nil).any?
              %tr
                %th.zone No Zone
                %td.data.zone-pending-pickup-count#total-no-zone-pending-pickup-count= Reservation.pending_pickup.joins(:route).where("routes.zone_id IS ?", nil).count
                %td.data.missing-count= Reservation.missing.joins(:route).where("routes.zone_id IS ?", nil).count
                %td.data=  Reservation.picked_up.joins(:route).where("routes.zone_id IS ?", nil).count
              - Route.where("routes.zone_id IS ?", nil).joins(:reservations).where.not("reservations.status = ?", 99).each do |route|
                - pending_pickup_count = route.reservations.pending_pickup.count
                - picked_up_count = route.reservations.picked_up.count
                - missing_count = route.reservations.missing.count
                - next pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones
                %tr
                  %th.route
                    = link_to route.name, driver_route_path(route)
                    = link_to driver_reservations_map_path(route_id: route.id) do
                      %i.fa-solid.fa-map
                    - if admin_view?
                      = link_to edit_admin_route_path(route.id) do
                        %i.fa-solid.fa-wrench
                      = link_to admin_route_path(route.id), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                        %i.fa-solid.fa-trash
                  %td.data.unzoned_pending_pickup.pending-pickup-count= pending_pickup_count
                  %td.data.missing-count= missing_count
                  %td.data.unzoned_picked_up= picked_up_count

            / ALL
            %tr.total
              %th.route-zone.zone
                All
                = link_to driver_reservations_map_path, id: 'all-map-link' do
                  %i.fa-solid.fa-map
              %td.data.zone-pending-pickup-count#all-pending-count= @pending_pickups_count
              %td.data.missing-count#all-missing-count= @missing_count
              %td.data#all-picked-count= @picked_up_count



            / Without Routes
            - if Reservation.not_archived.unrouted.any?
              - pending_pickup_count = Reservation.not_archived.unrouted.pending_pickup.count
              - picked_up_count = Reservation.not_archived.unrouted.picked_up.count
              - missing_count = Reservation.not_archived.unrouted.missing.count
              - return if pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones
              %tr
                %th
                %td &nbsp;
                %td
                %td
              %tr
                %th.zone Unrouted
                %td.data#total-unrouted-pending-pickup-count.zone-pending-pickup-count= pending_pickup_count
                %td.data.missing-count= missing_count
                %td.data#total-picked-up-count= picked_up_count


