.row
  .col-md-3
  .col-md-6
    %h1
      %i.fa-solid.fa-road
      Routes


- if admin_view?
  .row
    .col-md-3
    .col-md-6
      .admin-nav
        %nav
          %ul.nav.justify-content-end
            %li.nav-item
              = link_to new_admin_route_path, class: 'nav-link' do
                %i.fa-solid.fa-plus
                Route
            %li.nav-item
              = link_to new_admin_zone_path, class: 'nav-link' do
                %i.fa-solid.fa-plus
                Zone

.row
  .col-md-3
  .col-md-6
    .table-responsive
      %table.table#driver-zones
        %tr
          %th
          %th.data Pending
          %th.data Missing
          %th.data Picked
        %tr
          %th.route-zone.zone
            All
            = link_to driver_reservations_map_path do
              %i.fa-solid.fa-map
          %td.data.zone-pending-pickup-count= Reservation.pending_pickup.count
          %td.data.missing-count= Reservation.missing.count
          %td.data= Reservation.picked_up.count
        - @zones.each do |zone|
          %tr
            %th.route-zone.zone
              = zone.name
              = link_to '' do
                %i.fa-solid.fa-map
              - if admin_view?
                = link_to edit_admin_zone_path(zone) do
                  %i.fa-solid.fa-wrench
                = link_to admin_zone_path(zone), method: :delete, data: { "turbo-method": :delete } do
                  %i.fa-solid.fa-trash
            %td.data.zone-pending-pickup-count= zone.reservations.pending_pickup.count
            %td.data.missing-count= zone.reservations.missing.count
            %td.data.picked-up-count= zone.reservations.picked_up.count
          - zone.routes.each do |route|
            - pending_pickup_count = route.reservations.pending_pickup.count
            - picked_up_count = route.reservations.picked_up.count
            - missing_count = route.reservations.missing.count
            - next if pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0
            %tr
              %th.route
                %span.div{id: "route-name-" + route.id.to_s }= link_to route.name, driver_route_path(route)
                = link_to driver_reservations_map_path(route_id: route.id) do
                  %i.fa-solid.fa-map
                - if admin_view?
                  = link_to edit_admin_route_path(zone) do
                    %i.fa-solid.fa-wrench
                  = link_to admin_route_path(zone), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                    %i.fa-solid.fa-trash
              %td.data.pending_pickup.pending-pickup-count
                = pending_pickup_count
              %td.data.missing.missing-count= missing_count
              %td.data.picked_up= picked_up_count
        - if Route.unzoned.any?
          %tr
            %th.zone No Zone
            %td.data.zone-pending-pickup-count= Reservation.pending_pickup.joins(:route).where("routes.zone_id IS ?", nil).count
            %td.data.missing-count= Reservation.missing.joins(:route).where("routes.zone_id IS ?", nil).count
            %td.data=  Reservation.picked_up.joins(:route).where("routes.zone_id IS ?", nil).count
        - Route.unzoned.each do |route|
          - pending_pickup_count = route.reservations.pending_pickup.count
          - picked_up_count = route.reservations.picked_up.count
          - missing_count = route.reservations.missing.count
          - next if pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0
          %tr
            %th.route
              = link_to route.name, driver_route_path(route)
              = link_to '' do
                %i.fa-solid.fa-map
              - if admin_view?
                = link_to edit_admin_route_path(route) do
                  %i.fa-solid.fa-wrench
                = link_to admin_route_path(route), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                  %i.fa-solid.fa-trash
            %td.data.unzoned_pending_pickup.pending-pickup-count= pending_pickup_count
            %td.data.missing-count= missing_count
            %td.data.unzoned_picked_up= picked_up_count
        - if Reservation.not_archived.unrouted.any?
          - pending_pickup_count = Reservation.not_archived.unrouted.pending_pickup.count
          - picked_up_count = Reservation.not_archived.unrouted.picked_up.count
          - missing_count = Reservation.not_archived.unrouted.missing.count
          - unless pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0
            %tr
              %th.zone Unrouted
              %td.data#total-pending-pickup-count.zone-pending-pickup-count= pending_pickup_count
              %td.data.missing-count= missing_count
              %td.data#total-picked-up-count= picked_up_count


