.row
  .col-md-4
  .col-md-4
    %h1= @team.name

.row.mb-4
  .col-md-4
  .col-md-4
    %h3 Team lead
    - if @team.leader
      %p= link_to @team&.leader&.name, driver_driver_path(@team&.leader)

.row.mb-4
  .col-md-4
  .col-md-4
    %h3 Drivers
    .table-responsive
      %table.table.driver_drivers
        - @drivers.each do |driver|
          %tr
            %td= link_to driver.name, driver_driver_path(driver)
            %td= link_to driver.phone, "tel:#{driver.phone}"
            %td= driver.email

.row
  .col-md-4
  .col-md-4
    %h3 Routes
    %p
      Total pickups:
      XX
    .table-responsive
      %table.table.driver_routes
        - @routes.each do |route|
          %tr
            %td= link_to route.name, [:driver, route]
            %td.remaining
              = pluralize(route.reservations.pending_pickup.count, "pickup")
              remaining
            %td.remaining
              = pluralize(route.reservations.picked_up.count, "pickup")
              completed
