= form_for [:admin, @route] do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this admin_route from being saved:"
      %ul
        - @route.errors.full_messages.each do |message|
          %li= message

  .mb-3
    = f.label :name, class: 'form-label'
    = f.text_field :name, class: 'form-control'
  .mb-3
    = f.label :street, class: 'form-label'
    = f.text_field :street, class: 'form-control'
  .mb-3
    = f.label :city, class: 'form-label'
    = f.text_field :city, class: 'form-control'
  .mb-3
    = f.label :state, class: 'form-label'
    = f.text_field :state, class: 'form-control'
  .mb-3
    = f.label :country, class: 'form-label'
    = f.text_field :country, class: 'form-control'
  .mb-3
    = f.label :distance, "Distance (Miles)", class: 'form-label'
    = f.text_field :distance, class: 'form-control'
    .form-text Route distance from this address.
  .mb-3
    = f.label :zone, class: 'form-label'
    = f.collection_select :zone_id, Zone.all.order(:name), :id, :name, {include_blank: 'Select a Zone'}, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
