.container
  .row
    .col-lg-2
    .col-lg-8
      %h1 Editing Route

  .row
    .col-lg-2
    .col-lg-4
      = render 'form'

    .col-lg-4
      .row.mb-3
        .col-lg-12
          %h3 Polygon
          = form_for [:admin, @point] do |f|
            = f.hidden_field :route_id, value: @route.id
            .form-group.mb-2
              = f.label :latitude
              = f.text_field :latitude, class: 'form-control'
            .form-group.mb-2
              = f.label :longitude
              = f.text_field :longitude, class: 'form-control'

            = f.submit class: 'btn btn-primary'


      .row
        .col-lg-12
          - @points.all.each do |p|
            = p.latitude.to_s + ', ' + p.longitude.to_s
            = link_to admin_point_path(p), method: :delete, data: { 'turbo-method': :delete } do
              %i.bi.bi-trash-fill
            %br
