%h1
  Routes
  .additional_info
    = surround("(", ")") do
      = @routes.count

.row
  .col-md-6.mb-3
    .text-right= button_to "Process Reservations => Routes", admin_process_all_routes_path, class: 'btn btn-warning btn-lg'


%p.mb-4
  = link_to new_admin_route_path, id: 'new-route-link' do
    %i.fa-solid.fa-plus.lg

%table.table#routes-table
  %thead
    %tr
      %th Name
      %th Team
      %th Count
      %th Street
      %th City
      %th State
      %th Distance
      %th
      %th
      %th

  %tbody
    - @routes.each do |route|
      %tr
        %td
          = route.name
          = link_to admin_route_map_path(route) do
            %i.fa-brands.fa-google
        %td= route&.team&.name
        %td= route.reservations.count
        %td= route.address
        %td= route.city
        %td= route.state
        %td= route.distance
        %td.actions
          = link_to admin_route_path(route) do
            %i.fa-solid.fa-eye.icon
          = link_to edit_admin_route_path(route) do
            %i.fa-solid.fa-pen.icon
          = link_to admin_route_path(route), method: :delete, data: { "turbo-method": :delete, confirm: 'Are you sure?' } do
            %i.fa-solid.fa-trash.icon
