%table(style="width:100%; border:0;cellspacing:0;cellpadding:0")
  %tr(style='padding: 0;border:0')
    %td(style="width: 100%;padding: 0;border:0")
      %table(style="max-width:800px;margin-left: auto;margin-right: auto;")
        %tr
          %td(style="text-align:left;padding: 0;border:0")
            %h1(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; font-weight: 300; font-size: 40px; margin: 20px auto 50px auto;text-align: center;padding: 0;line-height: 1.5;")
              Tree Pickup Time!


            - if @reservation.name.present?
              %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
                = 'Hello ' + @reservation.name + ','

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              It's our 26th year of recycling Christmas trees on Bainbridge, and we wanted you to know that we'll be picking up trees on
              = succeed(".") do
                = nice_long_date(setting.pickup_date_and_time)


            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              We've picked up up your tree in the past, and if you would like us to pick up again this year, please register on our website
              = succeed(".") do
                = link_to "https://TreeRecycle.net", "https://treerecycle.net"


            %table(width="100%" cellspacing="0" cellpadding="0" style="margin-bottom: 20px")
              %tr
                %td
                  %table(cellspacing="0" cellpadding="0")
                    %tr
                      %td(syle="border-radius: 2px" bgcolor="#ED2939" width="100%" style='text-align:center;')
                        %a(href="#{new_reservation_url(reservation_id: @reservation.id)}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff !important;text-decoration: none;font-weight:bold;display: inline-block;")
                          Register for a tree pickup


            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              Once registered we will send you a confirmation email and then pick up your tree on
              = succeed(".") do
                = nice_long_date(setting.pickup_date_and_time)

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 50px; padding: 0;")
              Thank You,
              %br
              Bainbridge Troop 1564 and Troop 1804

            = render 'unsubscribe'

