%table(style="width:100%; border:0;cellspacing:0;cellpadding:0")
  %tr(style='padding: 0;border:0')
    %td(style="width: 100%;padding: 0;border:0")
      %table(style="max-width:800px;margin-left: auto;margin-right: auto;")
        %tr
          %td(style="text-align:left;padding: 0;border:0")
            %div(style='text-align:center;margin-left: auto;margin-right:auto;margin-top: 16px;margin-bottom:0')
              = image_tag 'bsa-logo.png', width:140

            %h1(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; font-weight: 300; font-size: 44px; margin: 30px auto 70px auto;text-align: center;padding: 0;line-height: 1.15;")
              Reserve your Pickup Today

            - if @reservation.name.present? && @reservation.name.downcase != 'no name provided'
              %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
                = 'Hello ' + @reservation.name + ','


            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              We hope this message finds you well. As the new year begins, we wanted to remind you that the tree pickup service provided by Bainbridge Island Scout Troops 1564 and 1804 is scheduled for
              = succeed(".") do
                = Time.parse(EVENT_DATE_AND_PICKUP_TIME).strftime("%B %e at %l:%M %p")


            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 30px; padding: 0;")
              It appears that you haven't signed up for this year's tree pickup yet, and we didn't want you to miss the opportunity. To ensure a hassle-free experience, please take a moment to register on our website by visiting
              = succeed(".") do
                = link_to "https://treerecycle.net", new_reservation_url(reservation_id: @reservation.id)


            %div(style='width:70%; text-align:center; margin: 0 auto 30px auto')
              %table(width="100%" cellspacing="0" cellpadding="0" style="margin-bottom: 20px")
                %tr
                  %td(style='width:100%')
                    %table(cellspacing="0" cellpadding="0" style='width:100%')
                      %tr
                        %td(syle="border-radius: 4px" bgcolor="#ED2939" style='text-align:center; width: 70%')
                          %a(href="#{new_reservation_url(reservation_id: @reservation.id)}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff !important;text-decoration: none;font-weight:bold;display: inline-block;")
                            Register for a tree pickup


            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0; padding: 0;")
              Here's a quick overview of the process:

            %ol(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5;font-weight:400; padding-left: 1.2em;margin-bottom: 20px")
              %li
                %span(style="font-weight:800")
                  Register for a Tree Pickup:
                Simply visit our website and complete the registration process.

              %li
                %span(style="font-weight:800")
                  Confirmation Email:
                Once registered, you will receive a confirmation email detailing the pickup logistics.
              %li
                %span(style="font-weight:800")
                  Scheduled Pickup:
                Our dedicated scouts will be on standby to collect your tree on Saturday, January 6, 2024.


            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              Please note that the deadline for reserving a pickup slot is
              = succeed(".") do
                = Time.parse(EVENT_SIGN_UP_DEADLINE).strftime("%B %e at %l:%M %p")

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              Your participation not only supports our Scout troops but also contributes to the environmentally friendly disposal of Christmas trees in our community.

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              Thank you for considering our tree pickup service. We appreciate your support.

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 16px; font-weight: normal; margin: 0 0 60px; padding: 0;")
              Warm regards,,
              %br
              Bainbridge Island Scout Troop 1564 and Troop 1804


            = render 'unsubscribe'

            = render 'shared/mailer_footer'
