!!! XML
%urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  %url
    %loc https://treerecycle.net
    %lastmod
      - if Setting.first
        = Setting.first.updated_at.strftime("%Y-%m-%d")
      - else
        = Date.today.strftime("%Y-%m-%d")

    %priority 1.0

  %url
    %loc https://treerecycle.net/reservations/new
    %lastmod= File.mtime("app/views/reservations/new.html.haml").strftime("%Y-%m-%d")
    %priority 0.9

  %url
    %loc https://treerecycle.net/donation
    %lastmod= (Date.today - 15.days).strftime("%Y-%m-%d")
    %priority 0.9

  %url
    %loc https://treerecycle.net/questions
    %lastmod= File.mtime("app/views/home/questions.html.haml").strftime("%Y-%m-%d")
    %priority 0.9

  %url
    %loc https://treerecycle.net/about
    %lastmod= File.mtime("app/views/home/about.html.haml").strftime("%Y-%m-%d")
    %priority 0.9
