%tr
  %td.name
    %i.bi.bi-house-fill
    &nbsp;
    = link_to reservation.name, admin_reservation_path(reservation)
    - if reservation.online_donation?
      %i.bi.bi-stripe
    - elsif reservation.cash_or_check_donation?
      %i.bi.bi-cash
    - elsif reservation.no_donation?
  %td.status= reservation_status(reservation)
  %td.map-links
    - if reservation.coordinates.present?
      = link_to reservation.street, "https://maps.apple.com/?q=#{reservation.latitude},#{reservation.longitude}", target: '_blank'
      = link_to "https://www.google.com/maps/place/#{reservation.latitude},#{reservation.longitude}", target: '_blank' do
        %i.bi.bi-google
    - else
      = reservation.street


  %td.route
    - if reservation.route_id?
      = link_to admin_reservations_path(route_id: reservation.route_id) do
        = reservation&.route&.name
        - if reservation.distance_to_route
          = surround("(", ")") do
            = pluralize(reservation.distance_to_route.round(2), "mile")
    - if reservation.is_route_polygon?
      %i.bi.bi-pentagon(data-bs-toggle="tooltip" data-bs-placement="top" title="Reservation is routed in a pentagon.")
    - if reservation.routed_manually?
      %i.bi.bi-pin-map(data-bs-toggle="tooltip" data-bs-placement="top" title="Reservation is routed manually.")
  %td.actions
    = link_to edit_admin_reservation_path(reservation) do
      %i.bi.bi-pencil-fill.icon

    - unless reservation.cancelled?
      = link_to admin_reservation_archive_path(reservation), method: :post, data: { 'turbo-method': :post, 'turbo-confirm': 'Are you sure? This will archive the reservation.' } do
        %i.bi.bi-archive-fill.icon(data-bs-toggle="tooltip" data-bs-placement="top" title="Archive this reservation.")

    = link_to [:admin, reservation], method: :delete, class: 'delete-reservation-button', data: { "turbo-method": :delete, 'turbo-confirm': 'Are you sure? This will permanently, and irreversibly destroy this reservation.' } do
      %i.bi.bi-trash-fill.icon
    = link_to admin_reservation_process_geocode_path(reservation), method: :post, id: "process-geocode-button-#{reservation.id}", data: { "turbo-method": :post } do
      %i.bi.bi-geo-alt-fill.icon(data-bs-toggle="tooltip" data-bs-placement="top" title="Geocode reservation")
    = link_to admin_reservation_process_route_path(reservation), method: :post, id: "process-route-button-#{reservation.id}", data: { "turbo-method": :post } do
      %i.bi.bi-lightning-fill.icon(data-bs-toggle="tooltip" data-bs-placement="top" title="Route reservation")