.card
  .card-body
    %h1.card-title.mb-3 Reservation

    %p
      %b Name
      %br
      = @reservation.name

    %p
      %b Street
      %br
      = @reservation.street

    %p
      %b City
      %br
      = @reservation.city

    %p
      %b State
      %br
      = @reservation.state

    %p
      %b Country
      %br
      = @reservation.country


    %hr

    %p
      %b Email
      %br
      = @reservation.email
    %p
      %b Phone
      %br
      = @reservation.phone

    - if @reservation.latitude?
      %hr
        %p
          %b Latitude/Longitude
          %br
          = @reservation.latitude
          \/
          = @reservation.longitude

    %hr

    %p
      %b Created
      %br
      = @reservation.created_at

    - if @reservation.picked_up_at?
      %p
        %b
          Picked up
          %br
          = @reservation.picked_up_at


    = link_to "Edit", edit_admin_reservation_path(@reservation)


