.row
  .col-md-8
    .card
      .card-body
        %h1.card-title.mb-3 Reservation

        %table.table.reservation
          %tr
            %th Name
            %td= @reservation.name
          %tr
            %th Address
            %td= @reservation.address
          %tr
            %th Street
            %td= @reservation.street
          %tr
            %th House number
            %td= @reservation.house_number
          %tr
            %th Road
            %td= @reservation.street_name
          %tr
            %th City
            %td= @reservation.city
          %tr
            %th State
            %td= @reservation.state
          %tr
            %th Country
            %td= @reservation.country
          %tr
            %th Postal code
            %td= @reservation.zip
          %tr
            %th Latitude
            %td= @reservation.latitude
          %tr
            %th Longitude
            %td= @reservation.longitude


        %table.table.reservation
          %tr
            %th Email
            %td= @reservation.email
          %tr
            %th Phone
            %td= @reservation.phone


        %table.table.reservation
          %tr
            %th Zone
            %td= @reservation&.zone&.name

        %table.table.reservation
          %tr
            %th
            %td= @reservation.picked_up_at


        %table.table.reservation
          %tr
            %th Created
            %td= @reservation.created_at
          %tr
            %th Updated
            %td= @reservation.updated_at


        = link_to "Edit", edit_admin_reservation_path(@reservation)


