.row
  .col-md-3
  .col-md-6
    %h1
      %i.fa-solid.fa-road
      Routes

.row
  .col-md-3
  .col-md-6
    .table-responsive
      %table.table
        %thead
          %tr
            %th
              %i.fa-solid.fa-map
            %th
            %th
            %th.text-center Ttl Pick-ups
            %th.text-center Picked-up
        - @routes.each do |route|
          %tr
            %td= link_to route.name, [:driver, route]
            %td= route&.zone&.name
            %td
              = link_to driver_reservations_map_path(route_id: route.id) do
                %i.fa-solid.fa-map
            %td.text-center= route.reservations.pending_pickup.count
            %td.text-center= route.reservations.picked_up.count

