#driver-routes
  %h1
    = @route.name
    = link_to driver_reservations_map_path(route_id: @route.id) do
      %i.fa-solid.fa-map

  .table-responsive
    %table.table.table-striped.driver-routes
      %thead
        %tr
          %th.buttons Status
          %th.house House
          %th.street Street

          %th.notes Notes
          %th.name Name
          %th.phone Phone
          %th.route Route
      %tbody
        - @reservations.each do |reservation|
          %tr
            %td.buttons
              = button_to "Picked", "", class: 'btn btn-success'
              = button_to "Missing", "", class: 'btn btn-sm btn-danger'
            %td.house= reservation.house_number
            %td.street= reservation.street_name

            %td.notes= reservation.notes
            %td.name= reservation.name
            %td.phone= reservation.phone
            %td.route= reservation.route.name
