.container-fluid
  #driver-routes

    %h1
      = @route.name_with_zone
      .map-icon
        = link_to driver_reservations_map_path(route_id: @route.id) do
          %i.fa-solid.fa-map
    .table-responsive-md
      %table.table.table-striped.driver-routes
        %thead
          %tr
            %th.buttons  Status
            %th.street Address

            %th.notes Notes
            %th.name Name
            %th.phone Phone
        %tbody
          - @reservations.each do |reservation|
            %tr{class: reservation.picked_up? ? 'table-primary' : reservation.missing? ? 'table-danger' : nil}
              %td.buttons
                = button_to "Picked Up", [:driver, reservation], id: reservation.picked_up? ? "btn-picked-up-#{reservation.id}" : "btn-not-picked-up-#{reservation.id}", class: "btn picked-up btn-outline-primary #{ reservation.picked_up? ? 'active' : nil}",  params: { status: 'picked_up' }, data: { turbo_confirm: 'Picked up? Are you sure?' }
                = button_to "Missing", [:driver, reservation], id: reservation.missing? ? "btn-missing-#{reservation.id}" : "btn-not-missing-#{reservation.id}", class: "btn missing btn-outline-danger #{ reservation.missing? ? 'active' : nil }",  params: { status: 'missing' }, data: { turbo_confirm: 'Missing? Are you sure?' }
                = button_to "Pending Pickup", [:driver, reservation], id: reservation.pending_pickup? ? "btn-pending-pickup-#{reservation.id}" : "btn-not-pending-pickup-#{reservation.id}", class: "btn pending-pickup btn-outline-success #{ reservation.pending_pickup? ? 'active' : nil }",  params: { status: 'pending_pickup' }, data: { turbo_confirm: 'Reseting to PENDING PICKUP. This will send a notification. Are you sure?' }
              %td.street= link_to reservation.street, driver_reservation_path(reservation)

              %td.notes= reservation.notes
              %td.name= reservation.name
              %td.phone= reservation.phone
