.container-fluid
  #driver-route
    %h1
      = @route.name_with_zone
      .map-icon
        = link_to driver_reservations_map_path(route_id: @route.id) do
          %i.bi.bi-map-fill.d-print-none
    %p 
      %span.fw-bold Drivers:
      = @drivers.map{|d| d.name + ' (' + d.phone + ')' }.join(", ")

    .table-responsive
      %table.table.driver-routes
        %thead
          %tr
            %th.buttons
              .d-print-none  Status
              .print-driver-actions
            %th Address

            %th.notes Notes
            %th Donation
            %th.name Name/Phone
        %tbody
          - @reservations.each do |reservation|
            %tr{class: reservation.picked_up? ? 'table-primary' : reservation.missing? ? 'table-danger' : nil}
              %td.buttons
                .btn-group.d-print-none(role="group")
                  = link_to "Pending pickup", [:driver, reservation, status: 'pending_pickup'], type: 'button', id: reservation.pending_pickup? ? "btn-not-pending-pickup-#{reservation.id}" : "btn-pending-pickup-#{reservation.id}", class: "btn pending-pickup btn-primary #{ reservation.pending_pickup? ? 'active' : nil }",  data: { turbo_method: :patch, turbo_confirm: setting.is_driver_site_enabled? ? "Are you sure? Setting to Pending and will send a notification to the resident." : "Cannot be updated at this time. Please contact the site administrator." }
                  = link_to "Picked up", [:driver, reservation, status: 'picked_up'], type: 'button', id: reservation.picked_up? ? "btn-not-picked-up-#{reservation.id}" : "btn-picked-up-#{reservation.id}",  class: "btn picked-up btn-primary #{ reservation.picked_up? ? 'active' : nil}",  data: { turbo_method: :patch, turbo_confirm: setting.is_driver_site_enabled? ? "Picked up? Are you sure?" : "Cannot be updated at this time. Please contact the site administrator." }
                  = link_to "Missing", [:driver, reservation, status: 'missing'], type: 'button', id: reservation.missing? ? "btn-not-missing-#{reservation.id}" : "btn-missing-#{reservation.id}", class: "btn missing btn-primary #{ reservation.missing? ? 'active' : nil }",  data: { turbo_method: :patch, turbo_confirm: setting.is_driver_site_enabled? ? "Missing? Are you sure? This will send a SMS to the resident notifying them and telling them to call us to reschedule." : "Cannot be updated at this time. Please contact the site administrator." }
                .print-driver-actions
                  %i.bi.bi-square
                    .text Picked Up
                  %i.bi.bi-square
                    .text Missing
              %td.street= link_to reservation.street, driver_reservation_path(reservation)

              %td.notes= reservation.notes
              %td.donation
                .d-print-none
                  - if reservation.donation
                    = reservation.donation.humanize.capitalize
                  - else
                    Not selected
                .print-driver-actions
                  - if reservation.online_donation?
                    %i.bi.bi-check-square
                      .text Online
                  - else
                    - if reservation.cash_or_check_donation?
                      %i.bi.bi-check-square
                        .text Cash/Check
                    %i.bi.bi-square
                      .text Door hanger
                    %br
                    %i.bi.bi-square
                      .text Cash/Check $______
              %td.name
                = reservation.name
                %br
                = reservation.phone

  %p.text-end
    = link_to driver_route_path(@route, format: :pdf), target: '_blank' do
      %i.bi.bi-file-pdf
      Route
