%table(style="width:100%; border:0;cellspacing:0;cellpadding:0")
  %tr(style='padding: 0;border:0')
    %td(style="width: 100%;padding: 0;border:0")
      %table(style="max-width:800px;margin-left: auto;margin-right: auto;")
        %tr
          %td(style="text-align:left;padding: 0;border:0")
            %h1(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; font-weight: 300; font-size: 40px; margin: 20px auto 50px auto;text-align: center;padding: 0;line-height: 1.5;")
              Tree pick-up scheduled

            %h2(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5;box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;")
              Confirmation

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              This email is to confirm that we will pick up your tree at
              = @reservation.address
              on
              = succeed(".") do
                = Setting.first.pickup_date_and_time.strftime("%B %-d, %Y")

            %h2(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;")
              On the Day of Collection

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              Remove all decorations and tinsel from your tree. Before 8am on the morning of
              = succeed(",") do
                = Setting.first.pickup_date_and_time.strftime("%B %-d")
              place your tree in a visible location at the curb. Scouts will collect your tree between 8am and 4pm and recycle it into mulch. We cannot take wreaths, flocked trees, or artificial trees.

            %h2(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;")
              Regarding Donations

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              Tree recycling is both a community service and a fundraising event for our scout troops. We suggest a donation of $25 to $30 for the collection service.

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              If you made an online donation, you will receive a receipt from Stripe. You may return to
              = link_to "donate online at any time.", donation_without_reservation_url

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              If you elect to donate on the day of collection, we accept checks or cash.

            %ul(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; font-weight: normal; margin: 0 0 20px; padding: 0;")

              %li(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; list-style-position: inside; margin: 0 0 0 5px; padding: 0;")
                make checks payable to BSA Troop 1564

              %li(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; list-style-position: inside; margin: 0 0 0 5px; padding: 0;")
                place your donation in an envelope

              %li(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; list-style-position: inside; margin: 0 0 0 5px; padding: 0;")
                place that envelope in a baggie

              %li(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; list-style-position: inside; margin: 0 0 0 5px; padding: 0;")
                secure the baggie to your tree


            %h2(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; line-height: 1.5; margin-top: 14px; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;")
              Making Changes

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 20px; padding: 0;")
              You may
              = link_to "make a change", reservation_url(@reservation)
              or cancel your reservation at any time.

            %p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 40px; padding: 0;")
              Thank You,
              %br
              Troop 1564 and 1804
