!!!
%html(lang="en")
  = render 'shared/head'
  %body#admin
    = render 'shared/tooltips_script'
    = render 'shared/admin_header'

    = render 'shared/flash'

    = yield

    = render 'shared/footer'
