#messages.container-fluid

  .row
    .col-lg-12
      %h1 Messages


  .row
    .col-lg-2
      - @numbers.each do |number|
        = link_to number, admin_messages_path(number: number), class: Message.unviewed?(number) ? 'unviewed' : nil
        %br

    .col-lg-8
      = render 'new_message'


      %h2= @number
      .table-responsive
        %table.table.table-borderless#messages-table
          %tbody
            - @messages.each do |message|
              %tr
                %td.body{class: message.outgoing? ? 'outgoing' : 'incoming'}
                  .message= message.body
                %td.datetime= nice_date_time_no_year(message.created_at)

      - if @messages.any?
        = form_for [:admin, @message] do |f|
          .row.mb-4
            = f.hidden_field :number, value: @number
            .col-lg-3
            .col-lg-6
              .form-group
                = f.text_field :body, class: 'form-control'
            .col-lg-2.text-left
              = f.submit "Send", class: 'btn btn-primary'
