#messages.container
  = render 'header'


  .row
    .col-lg-23
      %p
        = link_to admin_messages_path do
          %i.bi.bi-arrow-left
          Back

  .row
    .col-lg-12
      %h2
        - Reservation.where(phone: @phone).all.each do |r|
          = link_to r.name, [:admin, r]
          \|
        = @phone



  .row
    .col-lg-12
      = render 'new_message'

  .row
    .col-lg-12
      .table-responsive
        %table.table.table-borderless#messages-table
          %tbody
            - @messages.each do |message|
              %tr
                %td.body{class: message.outgoing? ? 'outgoing' : 'incoming'}
                  .message= message.body
                %td.datetime= nice_date_time_no_year(message.created_at)

