.row
  .col-md-3
  .col-md-6
    %h1
      %i.fa-solid.fa-road
      Routes


- if admin_view?
  .row
    .col-md-3
    .col-md-6
      .admin-nav
        %nav
          %ul.nav.justify-content-end
            %li.nav-item
              = link_to new_admin_route_path, class: 'nav-link', id: 'new-route-link' do
                %i.fa-solid.fa-plus
                Route
            %li.nav-item
              = link_to new_admin_zone_path, class: 'nav-link', id: 'new-zone-link' do
                %i.fa-solid.fa-plus
                Zone

.row
  .col-md-3
  .col-md-6
    .table-responsive
      %table.table#driver-zones
        %tr
          %th
          %th.data Total
          %th.data Pending
          %th.data Picked up
        - @zones.each do |zone|
          %tr
            %td.route-zone.zone
              = zone.name
              = link_to '' do
                %i.fa-solid.fa-map
              - if admin_view?
                = link_to edit_admin_zone_path(zone) do
                  %i.fa-solid.fa-wrench
                = link_to admin_zone_path(zone), method: :delete, data: { "turbo-method": :delete } do
                  %i.fa-solid.fa-trash
            %td.data= zone.reservations.not_archived.count
            %td.data= zone.reservations.pending_pickup.count
            %td.data= zone.reservations.picked_up.count
          - zone.routes.each do |route|
            %tr
              %td.route
                %span.div{id: "route-name-" + route.id.to_s }= link_to route.name, driver_route_path(route)
                = link_to '' do
                  %i.fa-solid.fa-map
                - if admin_view?
                  = link_to edit_admin_route_path(zone) do
                    %i.fa-solid.fa-wrench
                  = link_to admin_route_path(zone), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                    %i.fa-solid.fa-trash
              %td.data{id: 'not_archived_' + route.id.to_s }= route.reservations.not_archived.count
              %td.data.pending_pickup= route.reservations.pending_pickup.count
              %td.data.picked_up= route.reservations.picked_up.count
        - if Route.unzoned.any?
          %tr
            %td.zone No Zone
            %td.data
            %td.data
            %td.data
        - Route.unzoned.each do |route|
          %tr
            %td.route
              = link_to route.name, driver_route_path(route)
              = link_to '' do
                %i.fa-solid.fa-map
              - if admin_view?
                = link_to edit_admin_route_path(route) do
                  %i.fa-solid.fa-wrench
                = link_to admin_route_path(route), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                  %i.fa-solid.fa-trash
            %td.data.unzoned_not_archived= route.reservations.not_archived.count
            %td.data.unzoned_pending_pickup= route.reservations.pending_pickup.count
            %td.data.unzoned_picked_up= route.reservations.picked_up.count
        - if Reservation.not_archived.unrouted.any?
          %tr
            %td.zone Unrouted
            %td.data#total-unrouted-count= Reservation.not_archived.unrouted.count
            %td.data#total-pending-pickup-count= Reservation.not_archived.unrouted.pending_pickup.count
            %td.data#total-picked-up-count= Reservation.not_archived.unrouted.picked_up.count


