%h1
  Zones
  .additional_info
    = surround("(", ")") do
      = @zones.count

.row
  .col-md-6.mb-3
    .text-right= button_to "Process Reservations => Zones", admin_process_all_zones_path, class: 'btn btn-warning btn-lg'


%p.mb-4
  = link_to new_admin_zone_path do
    %i.fa-solid.fa-plus.lg

%table.table
  %thead
    %tr
      %th Name
      %th Count
      %th Street
      %th City
      %th State
      %th Distance
      %th
      %th
      %th

  %tbody
    - @zones.each do |zone|
      %tr
        %td
          = zone.name
          = link_to admin_zone_map_path(zone) do
            %i.fa-brands.fa-google
        %td= zone.reservations.count
        %td= zone.address
        %td= zone.city
        %td= zone.state
        %td= zone.distance
        %td.actions
          = link_to admin_zone_path(zone) do
            %i.fa-solid.fa-eye.icon
          = link_to edit_admin_zone_path(zone) do
            %i.fa-solid.fa-pen.icon
          = link_to admin_zone_path(zone), method: :delete, data: { "turbo-method": :delete, confirm: 'Are you sure?' } do
            %i.fa-solid.fa-trash.icon
