#admin-zones.container
  .row
    .col-lg-12
      %h1
        %i.bi.bi-signpost-2-fill
        Routes

  - if admin_view? && current_user.editor? || current_user.administrator?
    .row
      .col-lg-12
        .admin-nav
          %nav
            %ul.nav.justify-content-end
              %li.nav-item
                = link_to new_admin_route_path, class: 'nav-link' do
                  %i.bi.bi-plus-lg
                  Route
              %li.nav-item
                = link_to new_admin_zone_path, class: 'nav-link' do
                  %i.bi.bi-plus-lg
                  Zone
              %li.nav-item
                = link_to admin_drivers_path, class: 'nav-link' do
                  Drivers
  

  / ZONES and their Routes
  - @zones.each do |zone|
    - next if zone.routes.empty?
    - pending_pickup_count = zone.reservations.pending_pickup.count
    - missing_count = zone.reservations.missing.count
    - picked_up_count = zone.reservations.picked_up.count
    - next if pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones

    .row
      .col-lg-8.offset-lg-2
        .table-responsive
          %table.table.zones-table(id="zone-#{zone.id}")
            %thead
              %tr
                %th.zone
                  - if admin_view?
                    = link_to (params[:all_zones] ? admin_zones_path : admin_zones_path(all_zones: true)) do
                      %i.bi.bi-card-list
                      All Zones/Routes
                %th.drivers Drivers
                %th.data Pending
                %th.data Missing
                %th.data Picked
            %tbody
              %tr
                %th.route-zone.zone
                  = zone.name
                  = link_to driver_reservations_map_path(zone_id: zone.id) do
                    %i.bi.bi-map-fill
                  - if admin_view?
                    = link_to edit_admin_zone_path(zone.id) do
                      %i.bi.bi-wrench-adjustable
                    = link_to admin_zone_path(zone.id), method: :delete, data: { "turbo-method": :delete } do
                      %i.bi.bi-trash-fill

                %td.drivers
                %td.data.zone-pending-pickup-count= pending_pickup_count
                %td.data.missing-count= missing_count
                %td.data.picked-up-count= picked_up_count

              / Routes
              - zone.routes.each do |route|
                - pending_pickup_count = route.reservations.pending_pickup.count
                - picked_up_count = route.reservations.picked_up.count
                - missing_count = route.reservations.missing.count
                - next if pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones
                %tr
                  %th.route
                    %span.div{id: "route-name-" + route.id.to_s }= link_to route.name, driver_route_path(route)
                    = link_to driver_reservations_map_path(route_id: route.id) do
                      %i.bi.bi-map-fill
                    - if admin_view?
                      = link_to edit_admin_route_path(route.id) do
                        %i.bi.bi-wrench-adjustable
                      = link_to admin_route_path(route.id), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                        %i.bi.bi-trash-fill
                  %td.drivers
                    = route.drivers.map{|d| d.name}.join(", ")

                  %td.data.pending_pickup.pending-pickup-count#route-pending-pickup-count
                    = pending_pickup_count
                  %td.data.missing.missing-count= missing_count
                  %td.data.picked_up= picked_up_count

  / Routed, but un-zoned
  - if Reservation.not_archived.joins(:route).where("routes.zone_id IS ?", nil).any?
    .row
      .col-lg-6.offset-lg-3
        .table-responsive
          %table.table.zones-table
            %thead
              %tr
                %th.zone
                %th.drivers
                %th.data Pending
                %th.data Missing
                %th.data Picked
            %tbody
              %tr
                %th.zone No Zone
                %td.drivers
                %td.data.zone-pending-pickup-count#total-no-zone-pending-pickup-count= Reservation.pending_pickup.joins(:route).where("routes.zone_id IS ?", nil).count
                %td.data.missing-count= Reservation.missing.joins(:route).where("routes.zone_id IS ?", nil).count
                %td.data=  Reservation.picked_up.joins(:route).where("routes.zone_id IS ?", nil).count
              - Route.where("routes.zone_id IS ?", nil).joins(:reservations).where.not("reservations.status = ?", 99).each do |route|
                - pending_pickup_count = route.reservations.pending_pickup.count
                - picked_up_count = route.reservations.picked_up.count
                - missing_count = route.reservations.missing.count
                - next pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones
                %tr
                  %th.route
                    = link_to route.name, driver_route_path(route)
                    = link_to driver_reservations_map_path(route_id: route.id) do
                      %i.bi.bi-map-fill
                    - if admin_view?
                      = link_to edit_admin_route_path(route.id) do
                        %i.bi.bi-wrench-adjustable
                      = link_to admin_route_path(route.id), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
                        %i.bi.bi-trash-fill
                  %td.drivers
                  %td.data.unzoned_pending_pickup.pending-pickup-count= pending_pickup_count
                  %td.data.missing-count= missing_count
                  %td.data.unzoned_picked_up= picked_up_count

  / ALL counts
  .row
    .col-lg-6.offset-lg-3
      .table-responsive
        %table.table.zones-table#all-zones
          %thead
            %tr
              %th.zone
              %th.drivers
              %th.data Pending
              %th.data Missing
              %th.data Picked
          %tbody
            %tr.total
              %th.route-zone.zone
                All
                = link_to driver_reservations_map_path do
                  %i.bi.bi-map-fill
              %td.drivers
              %td.data.zone-pending-pickup-count= @pending_pickups_count
              %td.data.missing-count= @missing_count
              %td.data= @picked_up_count



  / Without Routes
  - if Reservation.not_archived.unrouted.any?
    - pending_pickup_count = Reservation.not_archived.unrouted.pending_pickup.count
    - picked_up_count = Reservation.not_archived.unrouted.picked_up.count
    - missing_count = Reservation.not_archived.unrouted.missing.count
    - unless pending_pickup_count == 0 && picked_up_count == 0 && missing_count == 0 && !@all_zones
      .row
        .col-lg-6.offset-lg-3
          .table-responsive
            %table.table.zones-table
              %thead
                %tr
                  %th.zone
                  %th.drivers
                  %th.data Pending
                  %th.data Missing
                  %th.data Picked
              %tbody
                %tr
                  %th.zone Unrouted
                  %td.drivers
                  %td.data#total-unrouted-pending-pickup-count.zone-pending-pickup-count= pending_pickup_count
                  %td.data.missing-count= missing_count
                  %td.data#total-picked-up-count= picked_up_count

