%header.mb-lg-5
  %nav.navbar.navbar-expand-lg.navbar-dark#admin-navbar
    .container-fluid
      - site_title = 'Admin'

      = link_to admin_root_path, class: 'navbar-brand' do
        %i.bi.bi-tree-fill
        = site_title

      %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0


          - if signed_in?

            %li.nav-item
              = link_to "Reservations", admin_reservations_path, class: "nav-link #{ controller_name == 'reservations' ? 'active' : nil }"
            %li.nav-item
              = link_to "Routes", admin_routing_path, class: "nav-link #{ controller_name == 'zones' ? 'active' : nil }"
            %li.nav-item
              = link_to "Donations", admin_donations_path, class: "nav-link #{ controller_name == 'donations' ? 'active' : nil }"
            %li.nav-item.message
              = link_to admin_messages_path, class: "nav-link #{ controller_name == 'messages' ? 'active' : nil }" do
                Messages
              = turbo_stream_from "messages-count"
              = render 'admin/messages/count'
            %li.nav-item
              = link_to "Analytics", admin_analytics_path, class: "nav-link #{ controller_name == 'analytics' ? 'active' : nil }"
            %li.nav-item
              = link_to "Marketing", admin_marketing_index_path, class: "nav-link #{ controller_name == 'marketing' ? 'active' : nil }"
            %li.nav-item
              = link_to admin_settings_path, class: "nav-link #{ controller_name == 'settings' ? 'active' : nil }", id: 'settings-link' do
                %i.bi.bi-gear-fill
        %ul.navbar-nav.my-2.my-lg-0
          %li.nav-item
            = link_to "Make a Reservation", root_path, class: 'btn btn-outline-light btn-site'
          %li.nav-item
            = link_to "Driver", driver_root_path, class: 'btn btn-outline-light btn-site'
          %li.nav-item
            - if signed_in?
              %li.nav-item= button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-primary'
            - else
              %li.nav-item= link_to 'Sign in', sign_in_path, class: "nav-link #{}"
