%header.mb-lg-5
  %nav.navbar.navbar-expand.navbar-dark#driver-navbar
    .container
      = link_to driver_root_path, class: 'navbar-brand' do
        %i.bi.bi-truck-front-fill
        = DRIVER_SITE_TITLE


      %ul.navbar-nav
        / %li.nav-item
        /   = link_to "Main", root_path, class: 'btn btn-outline-light btn-site'
        - if signed_in?
          %li.nav-item
            = link_to "Admin", admin_root_path, class: "btn btn-outline-light btn-site"


  %ul.nav.justify-content-center#driver-nav
    %li.nav-item
      = link_to driver_zones_path, class: 'nav-link' do
        %i.bi.bi-signpost-2-fill
        Routes
    %li.nav-item
      = link_to donation_without_reservation_path(driver: true), local: true, data: { turbo:false }, class: 'nav-link' do
        %i.bi.bi-credit-card-fill
        Donation

    %li.nav-item
      = link_to driver_contacts_path, class: 'nav-link' do
        %i.bi.bi-telephone-fill
        Contact
    %li.nav-item
      = link_to driver_search_path, class: 'nav-link' do
        %i.bi.bi-search
        Search


