%header.mb-lg-5
  %nav.navbar.navbar-expand.navbar-dark#driver-navbar
    .container
      = link_to driver_root_path, class: 'navbar-brand' do
        %i.fa-solid.fa-tree.fa-lg
        %i.fa-solid.fa-truck-pickup
        Driver


      %ul.navbar-nav
        / %li.nav-item
        /   = link_to "Main", root_path, class: 'btn btn-outline-light btn-site'
        - if signed_in?
          %li.nav-item
            = link_to "Admin", admin_root_path, class: "btn btn-outline-light btn-site"


  %ul.nav.justify-content-center#driver-nav
    %li.nav-item
      = link_to driver_routing_path, class: 'nav-link' do
        %i.fa-solid.fa-road
        Routes
    %li.nav-item
      = link_to driver_drivers_path, class: 'nav-link' do
        %i.fa-solid.fa-car
        Drivers
    %li.nav-item
      = link_to driver_contacts_path, class: 'nav-link' do
        %i.fa-solid.fa-phone
        Contact
    %li.nav-item
      = link_to driver_reservations_search_path, class: 'nav-link' do
        %i.fa-solid.fa-magnifying-glass
        Search


