.container-fluid
  %footer
    %nav.navbar.fixed-bottom.navbar-expand-sm.navbar-dark.bg-dark
      %ul.navbar-nav.mr-auto
        - if signed_in?
          %li.nav-item
            = link_to "Reservations", admin_reservations_path, class: 'nav-link'
          %li.nav-item
            = link_to "Map", admin_map_path, class: 'nav-link'
          %li.nav-item
            = link_to "Settings", admin_settings_path, class: 'nav-link'
          %li.nav-item
            = link_to "Zones", admin_zones_path, class: 'nav-link'
          %li.nav-item.nav-link
            = current_user.email
          %li.nav-item
            = button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-primary'
        - else
          %li.nav-item
            = link_to 'Sign in', sign_in_path
