%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
      - site_title = Setting.first_or_create.site_title || 'Tree Recycle'

      = link_to root_path, class: 'navbar-brand' do
        %i.fa-solid.fa-tree.fa-lg
        = site_title

      end
      %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to "Make a reservation", new_reservation_path, class: "nav-link", "aria-current": "page"
          %li.nav-item
            = link_to "Make a donation", donation_without_reservation_path, local: true, data: { turbo:false } , class: "nav-link", "aria-current": "page"
          %li.nav-item
            = link_to questions_path, class: "nav-link", "aria-current": "page", id: 'question_header_link' do
              = "Questions"
              %i.fa-solid.fa-question
          %li.nav-item
            = link_to "About", about_path, class: "nav-link"
          - if signed_in?
            %li.nav-item
              = link_to "Reservations", admin_reservations_path, class: 'nav-link'
            %li.nav-item
              = link_to "Settings", admin_settings_path, class: 'nav-link'
            %li.nav-item
              = link_to "Zones", admin_zones_path, class: 'nav-link'
            %li.nav-item
              = link_to "Map", admin_map_path, class: 'nav-link'
            %li.nav-item
              = button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-primary'
