%header.mb-lg-5
  %nav.navbar.navbar-expand-lg.navbar-dark#main-navbar
    .container
      = link_to root_url, class: 'navbar-brand' do
        %i.bi.bi-tree-fill
        = setting.site_title

      %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to "New reservation", new_reservation_url, class: "nav-link #{ controller_name == 'reservations' ? 'active' : nil }", "aria-current": "page"
          %li.nav-item
            = link_to "Donate", donation_without_reservation_path, local: true, data: { turbo:false } , class: "nav-link #{ controller_name == 'donations' ? 'active' : nil }", "aria-current": "page"
          %li.nav-item
            = link_to questions_url, class: "nav-link #{ controller_name == 'home' && action_name == 'questions' ? 'active' : nil }", "aria-current": "page", id: 'question_header_link' do
              = "Questions"
              %i.bi.bi-question-lg
          %li.nav-item
            = link_to "About", about_url, class: "nav-link #{ controller_name == 'home' && action_name == 'about' ? 'active' : nil }"

        - if signed_in?
          %ul.navbar-nav.my-2.my-lg-0
            %li.nav-item
              = link_to "Admin", admin_root_path, class: "btn btn-outline-light btn-site"
            %li.nav-item
              = link_to "Driver", driver_root_path, class: 'btn btn-outline-light btn-site'
            %li.nav-item= button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-primary'
