- if @reservation
  #side-info
    %h1 Summary

    - if @reservation.name
      .section.name
        %h2 Name
        .full_name= @reservation.name


    - if @reservation.street
      .section.address
        %h2 Address

        - if @reservation.street
          .street= @reservation.street
        .city= @reservation.city
        .state= @reservation.state

        - if @reservation.notes.present?
          %br
          .notes= @reservation.notes

    .section.pickup-details
      %h2 Pickup details
      %h3 Date
      #pickup-date= nice_date(Time.parse(EVENT_DATE_AND_PICKUP_TIME))

      %h3 Pickup-time
      #pickup-time
        = nice_time(Time.parse(EVENT_DATE_AND_PICKUP_TIME))
        \-
        = nice_time(Time.parse(EVENT_DATE_AND_PICKUP_END_TIME))

    - if @reservation.email
      .section.contact-info
        %h2 Contact
        .email= @reservation.email
        - if @reservation.phone.present?
          %br
          .phone= @reservation.phone

    = render 'reservations/reservation_actions'

    - if @reservation.persisted?
      %p= link_to 'Donate', new_reservation_donation_path(@reservation)
