- if @reservation
  #side-info
    %h1 Summary

    - if @reservation.name
      .section.name
        %h2 Name
        .full_name= @reservation.name


    - if @reservation.street
      .section.address
        %h2 Address

        - if @reservation.street
          .street= @reservation.street
        .city= @reservation.city
        .state= @reservation.state

        - if @reservation.notes.present?
          %br
          .notes= @reservation.notes

    .section.pickup-details
      %h2 Pickup details
      %h3 Date
      #pickup-date= nice_date(setting.pickup_date_and_time)

      %h3 Pickup-time
      #pickup-time
        = nice_time(setting.pickup_date_and_time)
        \-
        = nice_time(setting.pickup_date_and_end_time)

    - if @reservation.email
      .section.contact-info
        %h2 Contact
        .email= @reservation.email
        - if @reservation.phone.present?
          %br
          .phone= @reservation.phone

    = render 'reservations/reservation_actions'
