#about
  %h1 Tree pickup details



  = image_tag "tree_recycle_2023.jpeg", width: '600px', class: 'img-fluid mb-4'

  #organization
    = image_tag "bsa.png", width: '60', id: 'bsa-logo'
    = ORGANIZATION_NAME

  - if setting
    %p.mb-4
      = setting.description.html_safe


    %H5 On the day of pickup
    %p.mb-4
      = setting.on_day_of_pickup_instructions

    %h5 Date of pick-up
    .mb-4= setting&.pickup_date_and_time&.strftime('%B %e, %Y')

    %h5 Trees should be ready for pickup between
    .mb-4
      = setting&.pickup_date_and_time&.strftime('%l:%M %p')
      \-
      = setting&.pickup_date_and_end_time&.strftime('%l:%M %p')

    %h5= link_to 'Have a question?', questions_path

  - else
    %p Please configure settings, with the description and date of event.


  .software
    %p
      &copy;
      = Date.today.year
      = link_to "Tree Recycle software", software_path
