%h1 About



- if setting
  %p= setting.description



  %H4 Details
  %p.mb-4
    = setting.on_day_of_pickup_instructions

  %h5 Date of pick-up
  .mb-4= setting&.pickup_date_and_time&.strftime('%B %e, %Y')

  %h5 Trees should be ready for pickup starting at
  .mb-4= setting&.pickup_date_and_time&.strftime('%l:%M %p')

  %h5= link_to 'Have a question?', questions_path

- else
  %p Please configure settings, with the description and date of event.



