#home.container
  .row
    .col-md-12
      %h1
        .top-line
          .year= HOME_PAGE_YEAR
          .home-page-title= HOME_PAGE_TITLE
        .bottom-line
          .tree Tree
          .recycle Recycle
      .sub-line
        = HOME_PAGE_LEAD
  .row
    .col-md-12
      %div{class: setting.is_reservations_open? ? '' : 'mute-all' }

        .text-center.pickup_date
          = nice_date(Time.parse(EVENT_DATE_AND_PICKUP_TIME))


        .text-center.d-grid.gap-2
          - if setting.is_reservations_open?
            = link_to new_reservation_path, class: 'btn btn-primary btn-lg', id: 'reservation-button' do
              Reserve now
              %i.bi.bi-arrow-right-circle
          - else
            .btn.btn-primary.btn-lg#reservation-button
              Reserve now
              %i.bi.bi-arrow-right-circle
        .important-date
          Reservations close
          = nice_date_time_no_year(Time.parse(EVENT_SIGN_UP_DEADLINE))
