#home
  %h2.text-center.mb-2
    BSA Bainbridge Island
    %br
    Troop 1564 & 1804

  .text-center
    = image_tag "tree.png", width: 300, class: 'img-fluid'

  %h1 Tree Recycle

  %p.mt-1.mb-5.text-center= link_to "Reserve a tree pickup", new_reservation_path, class: 'btn btn-primary btn-lg'


  .row
    .col-md-6.text-center.important-date
      %h3 Pick-up Day
      - if setting&.pickup_date_and_time
        .badge.text-bg-dark= nice_date(setting&.pickup_date_and_time)

    .col-md-6.text-center.important-date
      %h3 Sign-up Deadline
      - if setting&.sign_up_deadline_at
        .badge.text-bg-dark
          = nice_time(setting&.sign_up_deadline_at)
          on
          = nice_date(setting&.sign_up_deadline_at)
