= form_for @reservation do |f|
  - if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-12
      .mb-3
        = f.label :your_name, class: 'form-label'
        = f.text_field :name, class: 'form-control', required: true
      .mb-3
        = f.label :street_address,  class: 'form-label'
        = f.text_field :street, class: 'form-control', required: true
        .form-text.text-muted Please provide a valid house number and street address.
  .row
    .col-md-10
      .mb-4
        = f.label :city, "City", class: 'form-label'
        = f.text_field :city, class: 'form-control', value: @reservation.city, disabled: true

  .row
    .col-md-6
      .mb-2
        = f.label :email, class: 'form-label'
        = f.email_field :email, class: 'form-control', required: true

    .col-md-6
      .mb-2
        = f.label :phone, class: 'form-label'
        = f.text_field :phone, class: 'form-control'
        .form-text.text-muted In case we need to contact you on day of pickup

  .row
    .col-md-12
      .mb-3
        = f.label :notes, "Where will your tree be?", class: 'form-label'
        = f.text_area :notes, class: 'form-control'
        .form-text.text-muted Leave blank if obvious. Otherwise, provide any helpful info for us to be able to find your tree.





  .actions.mt-3
    - if @reservation.persisted?
      = f.submit 'Save', class: 'btn btn-primary btn-lg'
    - else
      = f.submit 'Register your address', class: 'btn btn-primary btn-lg'
