= form_for @reservation do |f|
  - if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-12
      .mb-4
        = f.label :your_name, class: 'form-label'
        = f.text_field :name, class: 'form-control', required: true
      .mb-4
        = f.label :street_address,  class: 'form-label'
        = f.text_field :street, class: 'form-control', required: true
        .form-text.text-muted Please provide a valid house number and street address.
  .row
    .col-lg-6
      .mb-4
        = f.label :city, "City", class: 'form-label'
        = f.text_field :city, class: 'form-control', value: @reservation.city, disabled: true

  .row
    .col-lg-6
      .mb-4
        = f.label :email, class: 'form-label'
        = f.email_field :email, class: 'form-control', required: true

    .col-lg-6
      .mb-4
        = f.label :phone, class: 'form-label'
        %span.form-text.text-muted Optional. Mobile preferred
        = f.text_field :phone, class: 'form-control'
        .form-text.text-muted In case we can't find your tree and need to contact you

  .row
    .col-lg-12
      .mb-4
        = f.label :notes, "Where will your tree be?", class: 'form-label inline'
        %span.form-text.text-muted Optional
        = f.text_area :notes, class: 'form-control'
        .form-text.text-muted Leave blank if obvious. Otherwise, provide any helpful info for us to be able to find your tree.


  .row
    .col-lg-4
      .mb-3
        = f.label :notes, "Where did you hear about us?", class: 'form-label inline'
        %span.form-text.text-muted Optional
        = f.select :heard_about_source, options_for_select(Reservation.heard_about_sources.map {|key,value| [key.titleize, Reservation.heard_about_sources.key(value)] },selected: @reservation.heard_about_source), {include_blank: 'Select one' }, class: 'form-control'





  .actions.mt-3
    - if @reservation.persisted?
      = f.submit 'Save', class: 'btn btn-primary btn-lg'
    - else
      = f.submit 'Register your address', class: 'btn btn-primary btn-lg'
