= form_for @reservation do |f|
  - if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-12
      .mb-3
        = f.label :your_name, class: 'form-label'
        = f.text_field :name, class: 'form-control'
      .mb-3
        = f.label :street_address,  class: 'form-label'
        = f.text_field :street, class: 'form-control'
        .form-text.text-muted Please provide a valid house number and street address.
  .row.mb-4
    .col-md-10
      .mb-5
        = f.label :city, "City", class: 'form-label'
        = f.text_field :city, class: 'form-control', value: @reservation.city


  .row
    .col-md-10
      .mb-3
        = f.label :notes, "Where will your tree be?", class: 'form-label'
        = f.text_field :notes, class: 'form-control'
        .form-text.text-muted Leave blank if obvious. Otherwise, provide any helpful info for us to be able to find your tree.





  .actions.mt-3
    - if @reservation.persisted?
      = f.submit 'Save', class: 'btn btn-primary btn-lg'
    - else
      = f.submit 'Next', class: 'btn btn-primary btn-lg'
