.row
  .col-md-12
    .text-center
      %i.fa-solid.fa-question.fa-lg.address-verification-map
      %i.fa-solid.fa-map-location.fa-lg.address-verification-map
      %i.fa-solid.fa-question.fa-lg.address-verification-map
    %h3.message.mb-4
      Ouch! We are having issues and
      - if @address_not_found
        can't seem to find your address.
      - elsif @multiple_addresses_found
        there seems to be multiple similar addresses.
      The best address is your official USPS address. Put any additional information in the notes.



- if @verified_street

  = form_for @reservation do |f|
    .row.mb-5
      .col-md-6
        .mb-3
          = f.text_field :street, value: @verified_street, class: 'form-control'
        .actions
          = f.submit 'Use this corrected address', class: 'btn btn-primary btn-lg'

        = @reservation.inspect
  = form_for @reservation do |f|
    .row
      .col-md-6
        .mb-3
          = f.text_field :street, class: 'form-control'
        .actions
          = f.submit 'Use original address', class: 'btn btn-primary btn-lg'
        = @reservation.inspect
- else

  %p.mb-4 If you could try one last time and make any adjustments. We'll take your address as you provide it and do our best to find it and/or contact you on pickup day.

  = form_for @reservation do |f|
    .row
      .col-md-12
        .mb-3
          = f.label :street_address, class: 'form-label'
          = f.text_field :street, class: 'form-control'
        .mb-3
          = f.label :notes, class: 'form-label'
          = f.text_area :notes, class: 'form-control'
        .mb-3
          = f.label :city, class: 'form-label'
          = f.text_field :city, class: 'form-control', disabled: true
        .mb-3
          = f.label :state, class: 'form-label'
          = f.text_field :state, class: 'form-control', disabled: true
        .actions
          = f.submit 'Register your address', class: 'btn btn-primary btn-lg'
