.row
  .col-md-12
    .text-center      
      %h1 
        %i.fa-solid.fa-map-location.address-verification-map
        Address verification
    .important-message.danger
      Ouch! We are having issues and
      - if @address_not_found
        can't seem to find your address. Can you make any possible adjustments below?
      - elsif @multiple_addresses_found
        there seems to be multiple similar addresses. Can you make any possible adjustments below?
      - else
        just need you to confirm it.
      The best address is your official USPS address. Put any additional information in the notes.

%br

- if @verified_street

  .row
    .col-md-6
      .card.mb-4
        .card-body
          = form_for @reservation do |f|
            .mb-3
              = f.text_field :street, value: @verified_street, class: 'form-control'
            .mb-3
              = f.text_area :notes, value: @reservation.notes, placeholder: 'Pickup notes', class: 'form-control'
            .actions
              = f.submit 'Use this corrected address', class: 'btn btn-primary btn-lg'
    .col-md-6
      .card.mb-4
        .card-body
          = form_for @reservation do |f|
            .mb-3
              = f.text_field :street, class: 'form-control'
            .mb-3
              = f.text_area :notes, value: @reservation.notes, placeholder: 'Pickup notes', class: 'form-control'
            .actions
              = f.submit 'Use original address', class: 'btn btn-primary btn-lg'
- else

  %p.mb-4 If you could try one last time and make any adjustments. We'll take your address as you provide it and do our best to find it and/or contact you on pickup day.

  = form_for @reservation do |f|
    .row
      .col-md-12
        .mb-3
          = f.label :street_address, class: 'form-label'
          = f.text_field :street, class: 'form-control'
        .mb-3
          = f.label :notes, class: 'form-label'
          = f.text_area :notes, class: 'form-control'
        .mb-3
          = f.label :city, class: 'form-label'
          = f.text_field :city, class: 'form-control', disabled: true
        .mb-3
          = f.label :state, class: 'form-label'
          = f.text_field :state, class: 'form-control', disabled: true
        .actions
          = f.submit 'Register your address', class: 'btn btn-primary btn-lg'
