
%h4.mb-5 Tell us how we can contact you if we have questions, send you pickup notifications, and let you know about next year's Tree Recycle.


= form_for @reservation do |f|
  - if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |message|
          %li= message

  .mb-3
    = f.label :email, class: 'form-label'
    = f.email_field :email, class: 'form-control'
    .form-text For email updates on your reservation and future tree recycle events.
  .mb-3
    = f.label :phone, class: 'form-label'
    = f.text_field :phone, class: 'form-control'
    .form-text For text updates on your reservation and future tree recycle events.
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
