.container


  #reservation
    - if !setting.is_reservations_open
      .important-message
        Reservations are currently closed and not changeable. Please
        = link_to "contact us", questions_path
        if you need to make a change.

    - else
      %h1 Tree Pickup

      = render 'reservation_status'

      .item.mt-3
        .field Name
        .data= @reservation.name

      .item
        .field Address
        .data#reservation-address= @reservation.short_address


      .item
        .field Pickup notes
        .data
          - if @reservation.notes.blank?
            %span.text-muted None provided
          - else
            = @reservation.notes

      .row.mb-3
        .col-md-6
          .item
            .field Email
            .data
              - if @reservation.email.blank?
                %span.text-muted Not provided
              - else
                = @reservation.email
        .col-md-6
          .item
            .field Phone
            .data
              - if @reservation.phone.blank?
                %span.text-muted Not provided
              - else
                = @reservation.phone


      - unless @reservation.pending_pickup? || @reservation.cancelled? || !setting.is_reservations_open?
        .row.mb-3
          .col-md-12
            .text-center= button_to 'Submit Reservation', reservation_submit_path(@reservation), class: 'btn btn-primary btn-lg'

    = render 'reservation_actions'

    - if @reservation
      %p.text-center= link_to "Donate", new_reservation_donation_path(@reservation)
    - else 
      %p.text-center= link_to "Donate", donation_without_reservation_path