%p#notice= notice

%p
  %b Name:
  = @reservation.name
%p
  %b Email:
  = @reservation.email
%p
  %b Phone:
  = @reservation.phone
%p
  %b Street 1:
  = @reservation.street_1
%p
  %b Street 2:
  = @reservation.street_2
%p
  %b City:
  = @reservation.city
%p
  %b State:
  = @reservation.state
%p
  %b Zip:
  = @reservation.zip
%p
  %b Country:
  = @reservation.country
%p
  %b Latitude:
  = @reservation.latitude
%p
  %b Longitude:
  = @reservation.longitude

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
