.row
  .col-md-6
    .card
      .card-body
        %h1.card-title.mb-3
          %i.fa-solid.fa-tree
          Tree pickup reservation

        %p
          %b Name
          %br
          = @reservation.name

        %p
          %b Address
          %br
          = @reservation.address


        %p
          %b Pickup notes
          %br
          - if @reservation.notes.blank?
            %span.text-muted None provided
          - else
            = @reservation.notes

        %hr.mt-5


        %p
          %b Email
          %br
          - if @reservation.email.blank?
            %span.text-muted Not provided
          - else
            = @reservation.email
        %p
          %b Phone
          %br
          - if @reservation.phone.blank?
            %span.text-muted Not provided
          - else
            = @reservation.phone

        %p.text-end
          = link_to edit_reservation_path(@reservation) do
            %i.fa-solid.fa-pen.fa-lg
            = "Edit"


- if @reservation.is_completed
  - if !@reservation.is_donated
    .row
      .col-md-8.mt-3
        = button_to 'Make a Donation', new_reservation_charge_path(@reservation), method: :get, class: 'btn btn-primary btn-lg'
- else
  .row
    .col-md-8.mt-2
      = button_to 'Submit Reservation', reservation_submit_path(@reservation), class: 'btn btn-primary btn-lg'

