#operations.container.mb-5
  .row
    .col-lg-12
      %h1
        %i.bi.bi-folder
        Operations

      %p
        = link_to admin_settings_path do
          %i.bi.bi-arrow-left
          Settings

      %p.text-muted Administrator access required to perform these functions
  .row
    .col-lg-12
      .table-responsive
        %table.table.table-borderless.settings
          %tr
            %th
              %p.mb-1 Post-Event Archive
              .text-sm.text-muted.mb-3 This archiving process will clean-up reservations, keeping only those that have not unsubscribed from marketing, and those that have participated within the last 4 years in preparation of your next event. This will ensure there are no duplicate (same email) reservations and that they are set to have marketing emails sent at the next event.
              .text-muted
                This will destroy reservations that
                %ul
                  %li unsubscribed from emails (usually done after getting a marketing email),
                  %li are unconfirmed (never completed reserving),
                  %li have not signed up within the last 4 years;
                  %li have duplicates (same emails).
              .text-muted
                This will then
                %ul
                  %li archive all picked up reservations,
                  %li reset all email sent flags,
                  %li disables all geocoding/routing on reservations.

            %td

            %td.action-button
              = button_to "ARCHIVE ALL", admin_post_event_archive_reservations_path, method: :delete, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure? This will 1) destroy all unconfirmed reservations, 2) destroy all archived reservations that unsubscribed to marketing emails, 3) archives all reservations, destroying any older duplicates, and 4) disables all geocoding/routing on reservations. This should normally be done at the end of every event.' }, class: 'btn btn-danger', disabled: current_user.administrator? ? false : true

          %tr
            %th
              %p
                Destroy all Unconfirmed
                = surround("(", ")") do
                  = @unconfirmed_reservations_count
                reservations

              %p.text-muted
                This destroys unconfirmed reservations, which are reservations that have been started, but were not confirmed upon receiving a message regarding issues with their address.

            %td

            %td.action-button
              = button_to "DESTROY UNCONFIRMED", admin_destroy_unconfirmed_reservations_path, method: :delete, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure? This is IRREVERSIBLE and will DESTROY all UNCONFIRMED Reservations' }, class: 'btn btn-danger', disabled: current_user.administrator? ? false : true

          %tr
            %th
              %p
                Destroy all Archived
                = surround("(", ")") do
                  = @archived_reservations_count
                reservations

            %td

            %td.action-button
              = button_to "DESTROY ARCHIVED", admin_destroy_all_archived_reservations_path, method: :delete, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure? This is IRREVERSIBLE and will DESTROY all ARCHIVED Reservations' }, class: 'btn btn-danger', disabled: current_user.administrator? ? false : true

          %tr
            %th
              %p Destroy reservations older than N months

            %td

            %td.action-button
              = form_tag '/admin/reservations/destroy-reservations', params: { operations: true } do
                .row
                  .col-lg-6
                    = text_field_tag :months, {}, class: 'form-control'
                  .col-lg-6
                    = submit_tag "DESTROY", class: 'btn btn-danger', data: { 'turbo-confirm': 'Are you sure? This is IRREVERSIBLE and will DESTROY reservations.' }

          %tr
            %th
              %p
                Destroy All
                = surround("(", ")") do
                  = @donations_count
                Donation records

            %td

            %td.action-button
              = button_to "DESTROY ALL DONATIONS", admin_destroy_all_donations_path, method: :delete, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure? This is IRREVERSIBLE and will DESTROY all donation records' }, class: 'btn btn-danger', disabled: current_user.administrator? ? false : true

          %tr
            %th
              %p
                Destroy All
                = surround("(", ")") do
                  = @logs_count
                logs

            %td

            %td.action-button
              = button_to "DESTROY ALL LOGS", admin_destroy_all_logs_path, method: :delete, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure? This is IRREVERSIBLE and will DESTROY all Logs' }, class: 'btn btn-danger', disabled: current_user.administrator? ? false : true

          %tr
            %th
              %p
                Destroy ALL
                = surround("(", ")") do
                  = @reservations_count
                reservations

            %td

            %td.action-button
              = button_to "DESTROY ALL RESERVATIONS", admin_destroy_all_reservations_path, method: :delete, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure? This is IRREVERSIBLE and will DESTROY all Reservations, but not donation records' }, class: 'btn btn-danger', disabled: current_user.administrator? ? false : true


