<div class='container'>
<div class='text-center mb-2'>
<%- if @route %>
  <div id='map-title'>
    <%= @route.name_with_zone %>
  </div>
  <%= link_to "( < Back )", driver_route_path(@route) %>
<%- elsif @zone %>
  <div id='map-title'>
    <%= @zone.name  %>
  </div>
  <%= link_to "( <Back )", driver_root_path %>
<%- elsif @reservation %>
  <div id='map-title'>
    <%= @reservation.street  %>
  </div>
  <%= link_to "( <Back )", driver_reservation_path(@reservation) %>
<%- else %>
  <div id='map-title'>
    All
  </div>
  <%= link_to "( <Back )", driver_root_path %>

<%- end %>
</div>



<div id="map"></div>

<script async src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps.api_key %>&callback=initMap&libraries=marker&v=beta"></script>
<script>

  // Initialize and add the map
  var map;
  function initMap() {

    // reservations = [[id, street, lat, lon, notes, status, phone, donation]]
    let locations =  <%= raw @reservations %>;

    // Create the map, centered at gfg_office
    var map = new google.maps.Map(
            document.getElementById("map"), {

        // Set the zoom of the map
        <%- if @route %>
          zoom: 14,
          center: new google.maps.LatLng(<%= @route.latitude %>, <%= @route.longitude %>),
        <%- elsif @reservation %>
          zoom: 19,
          center: new google.maps.LatLng(<%= @reservation.latitude %>, <%= @reservation.longitude %>),
        <%- elsif @zone %>
          zoom: 14,
          center: new google.maps.LatLng(<%= @zone.latitude %>, <%= @zone.longitude %>),
        <%- else %>
          zoom: 12,
          center: new google.maps.LatLng(47.64483,-122.54827),
        <%- end %>
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapId: "4504f8b37365c3d0"
    });

    var infowindow = new google.maps.InfoWindow();

    for (i = 0; i < locations.length; i++) {

      const pinViewBackgroundPickedUp = new google.maps.marker.PinView({
        background: "#efefef",
        scale: 0.7,
      });

      const pinViewBackgroundPending = new google.maps.marker.PinView({
        background: "#003F87",
        glyphColor: "white"
      });

      const pinViewBackgroundMissing = new google.maps.marker.PinView({
        background: "#CE1126",
        glyphColor: "white"
      });

      const marker = new google.maps.marker.AdvancedMarkerView({
        map,
        position: { lat: locations[i][2], lng: locations[i][3] },
        title: locations[i][1],
        map: map,
        content: locations[i][5]=='Pending pickup' ? pinViewBackgroundPending.element : locations[i][5]=='Missing' ? pinViewBackgroundMissing.element : pinViewBackgroundPickedUp.element,
      });



      let html_content = 
            `<div class='map-info-window'>` +
              `<div class='header'>` +
              `<a class='street' href='/driver/reservations/${locations[i][0]}'>${locations[i][1]}</a><br>` +
              `<div class='status-info'>${locations[i][5]}</div>` +
              `</div>` +

            `<div class='buttons'>` +
              `<a type="button" data-turbo-method="patch" data-method="patch" data-turbo-confirm="Picked up? Are you sure?" class='btn btn-outline-success btn-sm' href='/driver/reservations/${locations[i][0]}?status=picked_up'>Picked Up</a> ` +
              `<a type="button" data-turbo-method="patch" data-method="patch" data-turbo-confirm="Missing? Are you sure? This will trigger an SMS message to the resident asking them to contact us." class='btn btn-outline-danger btn-sm' href='/driver/reservations/${locations[i][0]}?status=missing'>Missing</a>` +
            `</div>` +



            `<div class='phone'>${locations[i][6] ? locations[i][6] : ""}</div>` +
            `<div class='notes'>${locations[i][4]}</div>` +

            `<div class='actions'>` +
              `<div class='badge bg-primary'>${locations[i][7]=='online_donation' ? "Online Donation" : 
                locations[i][7]=='cash_or_check_donation' ? "Cash/Check donation" : locations[i][7]=='no_donation' ? "No Donation" : "No Selection" } </div> &nbsp;` +
              `<form action='/driver/reservation/${locations[i][0]}'>` +
              `${locations[i][7] != 'online_donation' ? '<label>Doorhanger<input type="checkbox" name="doorhanger_checkbox"></label><label>Cash collected<input type="checkbox" name="cash_collected"></label><label>Check collected<input type="checkbox" name="check_collected"></label></br><label>Amount</label><input type="number" name="number">' : "" }`+
              `<input type="submit" value="Submit" class='btn btn-primary btn-sm'>` +
            `</form></div>` +

            `<div class='map-links'>`+
              `<a href="https://maps.apple.com/?q=${locations[i][2]},${ locations[i][3]}" target='_blank' class= 'map-link'><i class='bi bi-apple'></i></a>` +
              `<a href="https://www.google.com/maps/place/${locations[i][2]},${ locations[i][3]}", target='_blank' class='map-link'><i class='bi bi-google'></i></a>` +
            `</div>` +

            `</div>`

      google.maps.event.addListener(marker, 'click', (function (marker, i) {
        return function () {
          infowindow.setContent(html_content);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }

</script>
</div>
