<div class='container'>
<div class='text-center mb-2'>
<%- if @route %>
  <div id='map-title'>
    <%= @route.name_with_zone %>
  </div>
  <%= link_to "( < Back )", driver_route_path(@route) %>
<%- elsif @zone %>
  <div id='map-title'>
    <%= @zone.name  %>
  </div>
  <%= link_to "( <Back )", driver_root_path %>
<%- elsif @reservation %>
  <div id='map-title'>
    <%= @reservation.street  %>
  </div>
  <%= link_to "( <Back )", driver_reservation_path(@reservation) %>
<%- else %>
  <div id='map-title'>
    All
  </div>
  <%= link_to "( <Back )", driver_root_path %>

<%- end %>
</div>



<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps.api_key %>&callback=initMap&libraries=&v=weekly" async></script>



<script>

    // Initialize and add the map
    function initMap() {

        var locations = <%= @reservations %>;

        // Create the map, centered at gfg_office
        const map = new google.maps.Map(
                document.getElementById("map"), {

            // Set the zoom of the map
            <%- if @route %>
              zoom: 14,
              center: new google.maps.LatLng(<%= @route.latitude %>, <%= @route.longitude %>),
            <%- elsif @reservation %>
              zoom: 19,
              center: new google.maps.LatLng(<%= @reservation.latitude %>, <%= @reservation.longitude %>),
            <%- elsif @zone %>
              zoom: 14,
              center: new google.maps.LatLng(<%= @zone.latitude %>, <%= @zone.longitude %>),
            <%- else %>
              zoom: 12,
              center: new google.maps.LatLng(47.64483,-122.54827),
            <%- end %>
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][0], locations[i][1]),
            map: map
          });
        }
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
    }
</script>
</div>
