#reservation
  .row
    .col-lg-3
    .col-lg-6
      %h1.mb-1
        = @reservation.street
      #status= reservation_status(@reservation)

  .row
    .colmd-12.text-center
      %p= link_to "< Back", :back


  .row
    .col-md-3
    .col-md-6.text-center
      #direction-links
        .title Directions
        = link_to "https://www.google.com/maps/place/#{ @reservation.latitude},#{ @reservation.longitude }", target: '_blank', class: 'map-link' do
          %i.fa-solid.fa-map-location-dot
          %i.fa-brands.fa-google

        = link_to "https://maps.apple.com/?q=#{ @reservation.latitude},#{ @reservation.longitude}", target: '_blank', class: 'map-link' do
          %i.fa-solid.fa-map-location-dot
          %i.fa-brands.fa-apple

        .title Google Mapped
        = link_to driver_reservation_map_path(@reservation), class: 'map-link' do
          %i.fa-solid.fa-map-location-dot

  .row
    .col-12.text-center
      - if @reservation.routed?
        - if admin_view?
          %p= link_to @reservation.route.name, admin_route_path(@reservation.route)
        - else
          %p= link_to @reservation.route.name, driver_route_path(@reservation.route)


  .row
    .col-md-3
    .col-md-6
      %table.table#detail
        %tr
          %th Name
          %td= @reservation.name
        %tr
          %th Address
          %td= @reservation.short_address
        - if @reservation.notes.present?
          %tr
            %td(colspan="2")= @reservation.notes
        %tr
          %th Email
          %td= mail_to @reservation.email
        - if @reservation.phone.present?
          %tr
            %th Phone
            %td= link_to @reservation.phone, "tel:#{ @reservation.phone }"
        %tr
          %th Route
          %td= reservation_zone_route(@reservation)
        - if donation_status(@reservation)
          %tr
            %th Donation
            %td= donation_status(@reservation)

        - if admin_view?
          %tr
            %th.text-center(colspan="2")= link_to "Admin View", admin_reservation_advanced_path(@reservation)

