.container#drivers
  .row
    .col-lg-12
      %h1
        %i.fa-solid.fa-car
        Drivers


  - if current_user.editor? || current_user.administrator?
    .row
      .col-lg-12
        .admin-nav
          %nav
            %ul.nav.justify-content-end
              %li.nav-item
                = link_to new_admin_driver_path, class: 'nav-link' do
                  %i.fa-solid.fa-plus
                  Driver

  .row
    .col-md-2
    .col-md-8
      .table-responsive
        %table.table#drivers-table
          - @drivers.each do |driver|
            %tr
              %th.name= link_to driver.name, admin_driver_path(driver)
              %td.leader
                = 'Leader' if driver.is_leader?
              %td.zone= link_to driver.zone.name, admin_zone_path(driver.zone) if driver.zone
              %td.phone
                = link_to "tel:#{driver.phone}", id: "driver-#{driver.id}-phone-link" do
                  = driver.phone
              %td.email= mail_to driver.email
              %td.actions-1
                - if current_user.editor? || current_user.administrator?
                  = link_to admin_driver_path(driver), method: :delete, data: { "turbo-method": :delete }, id: "driver-#{driver.id}-destroy-link"  do
                    %i.fa-solid.fa-trash
                  = link_to edit_admin_driver_path(driver), id: "driver-#{driver.id}-edit-link" do
                    %i.fa-solid.fa-pen

