.container
  .row
    .col-md-3
    .col-md-6
      %h1= @driver.name

  .row.mb-4
    .col-md-3
    .col-md-6
      %h3= link_to @driver.zone.name, admin_zone_path(@driver.zone) if @driver.zone

  .row.mb-5
    .col-md-3
    .col-md-6.text-middle
      - if @driver.phone.present?
        = link_to "tel:#{@driver.phone}" do
          = @driver.phone
          %i.fa-solid.fa-phone
      %br
      = mail_to @driver.email


  .row
    .col-md-3
    .col-md-6
      %p= link_to "Edit", edit_admin_driver_path(@driver)
      = button_to "Destroy Driver", admin_driver_path(@driver), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-danger'


