= form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :organization_name
    = f.text_field :organization_name
  .field
    = f.label :contact_name
    = f.text_field :contact_name
  .field
    = f.label :contact_email
    = f.text_field :contact_email
  .field
    = f.label :contact_phone
    = f.text_field :contact_phone
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :pickup_date
    = f.date_field :pickup_date
  .actions
    = f.submit 'Save'
