= form_for setting, url: admin_setting_path(setting) do |f|
  - if setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - setting.errors.full_messages.each do |message|
          %li= message
  .mb-3
    = f.label :site_title, class: 'form-label'
    = f.text_field :site_title, class: 'form-control'
  .mb-3
    = f.label :site_description, class: 'form-label'
    = f.text_area :site_description, class: 'form-control'
    .form-text.text-muted Shown as the META description in the website headers for SEO
  .mb-3
    = f.label :description, class: 'form-label'
    = f.text_area :description, class: 'form-control'
    .form-text.text-muted Shown on 'About' page
  .mb-3
    = f.label :on_day_of_pickup_instructions, class: 'form-label'
    = f.text_area :on_day_of_pickup_instructions, class: 'form-control'
    .form-text.text-muted Shown on 'About' page
  / .mb-3.form-check
  /   = f.label :is_reservations_open, class: 'form-check-label'
  /   = f.check_box :is_reservations_open, class: 'form-check-input'
  /   .form-text.text-muted This enables creating, editing and cancelling reservations
  / .mb-3.form-check
  /   = f.label :is_emailing_enabled, class: 'form-check-label'
  /   = f.check_box :is_emailing_enabled, class: 'form-check-input'
  .mb-3
    = f.label :reservations_closed_message, class: 'form-label'
    = f.text_field :reservations_closed_message, placeholder: 'Message to show if reservations are closed...', class: 'form-control'
  .mb-3
    = f.label :is_driver_site_enabled, class: 'form-label'
    = f.check_box :is_driver_site_enabled, class: 'form-check-input'
  .mb-3
    = f.label :organization_name, class: 'form-label'
    = f.text_field :organization_name, class: 'form-control'
  .mb-3
    = f.label :contact_name, class: 'form-label'
    = f.text_field :contact_name, class: 'form-control'
    .form-text.text-muted Shown on the 'Contact' page
  .mb-3
    = f.label :contact_email, class: 'form-label'
    = f.email_field :contact_email, class: 'form-control'
    .form-text.text-muted Shown on the 'Contact' page
  .mb-3
    = f.label :contact_phone, class: 'form-label'
    = f.text_field :contact_phone, class: 'form-control'
    .form-text.text-muted Shown on the 'Contact' page
  .mb-3
    = f.label :pickup_date_and_time, class: 'form-label'
    = f.datetime_select :pickup_date_and_time, class: 'form-control'
  .mb-3
    = f.label :pickup_date_and_and_end_time, class: 'form-label'
    = f.datetime_select :pickup_date_and_end_time, class: 'form-control'
  .mb-3
    = f.label :sign_up_deadline_at, class: 'form-label'
    = f.datetime_select :sign_up_deadline_at, class: 'form-control'

  .mb-3
    = f.label :default_city, class: 'form-label'
    = f.text_field :default_city, class: 'form-control'
  .mb-3
    = f.label :default_state, class: 'form-label'
    = f.text_field :default_state, class: 'form-control'
  .mb-3
    = f.label :default_country, class: 'form-label'
    = f.text_field :default_country, class: 'form-control'
  .mb-3
    = f.label :driver_secret_key, class: 'form-label'
    = f.text_field :driver_secret_key, class: 'form-control'
    .form-text.text-muted If there is a secret key, access to the Driver application requires a key as a param '.../?key=[secret key]'. A change in the key hear will invalidate any prior key usage.
  .mb-3
    = f.label :email_batch_quantity, class: 'form-label'
    = f.text_field :email_batch_quantity, class: 'form-control'
    .form-text.text-muted Quantity of emails to send at a time
  .mb-3
    = f.label :meta_site_name, class: 'form-label'
    = f.text_field :meta_site_name, class: 'form-control'
  .mb-3
    = f.label :meta_title, class: 'form-label'
    = f.text_field :meta_title, class: 'form-control'
  .mb-3
    = f.label :meta_description, class: 'form-label'
    = f.text_field :meta_description, class: 'form-control'
  .mb-3
    = f.label :meta_image_filename, class: 'form-label'
    = f.text_field :meta_image_filename, class: 'form-control'
    .form-text.text-muted File name of file in 'assets/images/'
  .mb-3
    = f.label 'Facebook Page ID', class: 'form-label'
    = f.text_field :facebook_page_id, class: 'form-control'



  .actions
    = f.submit 'Save', class: 'btn btn-primary'


%hr.mb-4.mt-5

%h2 Data Upload

= form_tag admin_upload_path, multipart: true do
  = label_tag  "Upload CSV File"
  = file_field_tag :file, class: 'form-control-file', required: true
  = submit_tag 'Submit', class: 'btn btn-primary'

