= form_for @setting, url: admin_setting_path(@setting) do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |message|
          %li= message

  .mb-3
    = f.label :site_title, class: 'form-label'
    = f.text_field :site_title, class: 'form-control'
  .mb-3
    = f.label :site_description, class: 'form-label'
    = f.text_area :site_description, class: 'form-control'
  .mb-3.form-check
    = f.label :is_reservations_open, class: 'form-check-label'
    = f.check_box :is_reservations_open, class: 'form-check-input'
  .mb-3.form-check
    = f.label :is_reservations_editable, class: 'form-check-label'
    = f.check_box :is_reservations_editable, class: 'form-check-input'
  .mb-3.form-check
    = f.label :is_emailing_enabled, class: 'form-check-label'
    = f.check_box :is_emailing_enabled, class: 'form-check-input'
  .mb-3
    = f.label :site_description, class: 'form-label'
    = f.text_area :site_description, class: 'form-control'
  .mb-3
    = f.label :organization_name, class: 'form-label'
    = f.text_field :organization_name, class: 'form-control'
  .mb-3
    = f.label :contact_name, class: 'form-label'
    = f.text_field :contact_name, class: 'form-control'
  .mb-3
    = f.label :contact_email, class: 'form-label'
    = f.email_field :contact_email, class: 'form-control'
  .mb-3
    = f.label :contact_phone, class: 'form-label'
    = f.text_field :contact_phone, class: 'form-control'
  .mb-3
    = f.label :description, class: 'form-label'
    = f.text_area :description, class: 'form-control'
  .mb-3
    = f.label :pickup_date_and_time, class: 'form-label'
    = f.datetime_select :pickup_date_and_time, class: 'form-control'
  .mb-3
    = f.label :default_city, class: 'form-label'
    = f.text_field :default_city, class: 'form-control'
  .mb-3
    = f.label :default_state, class: 'form-label'
    = f.text_field :default_state, class: 'form-control'
  .mb-3
    = f.label :default_country, class: 'form-label'
    = f.text_field :default_country, class: 'form-control'

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
