%h1 Settings


%p
  = link_to edit_admin_setting_path(@setting) do
    %i.fa-solid.fa-pen.icon

.row.justify-content-start
  .col-9
    %table.table.settings

      %tbody
        %tr
          %th Site title
          %td= @setting.site_title
        %tr
          %th Site description
          %td= @setting.site_description
        %tr
          %th Reservations open?
          %td= @setting.is_reservations_open? ? 'Yes' : 'No'
        %tr
          %th Reservations editable?
          %td= @setting.is_reservations_editable? ? 'Yes' : 'No'
        %tr
          %th Organization name
          %td= @setting.organization_name
        %tr
          %th Contact name
          %td= @setting.contact_name
        %tr
          %th Contact email
          %td= @setting.contact_email
        %tr
          %th Contact phone
          %td= @setting.contact_phone
        %tr
          %th Description
          %td= @setting.description
        %tr
          %th Pickup date
          %td= @setting.pickup_date_and_time
        %tr
          %th Default city
          %td= @setting.default_city
        %tr
          %th Default state
          %td= @setting.default_state
        %tr
          %th Default country
          %td= @setting.default_country

%br
