.row
  .col-md-2
  .col-md-8

    %h1 Settings


    %p
      = link_to edit_admin_setting_path(@setting) do
        %i.fa-solid.fa-pen.icon

.row
  .col-md-2
  .col-md-8
    %table.table.settings
      %tbody

        %tr
          %th Reservations open?
          %td
            = link_to admin_setting_path(@setting, setting: { is_reservations_open: @setting.is_reservations_open? ? 'false' : 'true'} ), data: { turbo_method: "patch" } do
              - if @setting.is_reservations_open?
                %i.fa-solid.fa-toggle-on
              - else
                %i.fa-solid.fa-toggle-off

        %tr
          %th Emailing enabled?
          %td
            = link_to admin_setting_path(@setting, setting: { is_emailing_enabled: @setting.is_emailing_enabled? ? 'false' : 'true'} ), data: { turbo_method: "patch" } do
              - if @setting.is_emailing_enabled?
                %i.fa-solid.fa-toggle-on
              - else
                %i.fa-solid.fa-toggle-off



.row
  .col-md-2
  .col-md-8
    %table.table.settings

      %tbody
        %tr
          %th Site title
          %td= @setting.site_title
        %tr
          %th Site description
          %td= @setting.site_description
        %tr
          %th Organization name
          %td= @setting.organization_name
        %tr
          %th Contact name
          %td= @setting.contact_name
        %tr
          %th Contact email
          %td= @setting.contact_email
        %tr
          %th Contact phone
          %td= @setting.contact_phone
        %tr
          %th Description
          %td= @setting.description
        %tr
          %th Recycle pick-up date/start time
          %td= @setting.pickup_date_and_time
        %tr
          %th Signup deadline
          %td= @setting.sign_up_deadline_at

.row
  .col-md-2
  .col-md-8
    %h2 Reservations
    %table.table.settings
      %tbody

        %tr
          %th Default city
          %td= @setting.default_city
        %tr
          %th Default state
          %td= @setting.default_state
        %tr
          %th Default country
          %td= @setting.default_country

    %br
