#remind-me-success.container

  .row
    .col-lg-12
      %h1.mt-5 We will send you a reminder.
      %p.fw-bold
        = succeed(",") do
          = @remind_me.name
      %p
        Every year just after Christmas, we send out reminder emails with details concerning our next tree recycling pickup. We'll send you the reminder at
        = succeed(".") do
          %span.email= @remind_me.email


      %p.mt-4 Thank you!

      %p= Setting.first.organization_name



      %p.mt-5= link_to "Tree Recycle", root_url
