.container#donations
  .row
    .col-lg-12
      %h1
        %i.bi.bi-credit-card-fill
        Donations

      .text-right
        = link_to new_admin_donation_path do
          %i.bi.bi-plus-lg
          New Donation

      %p.text-end
        %span.fw-bold Total donated:
        = number_to_currency(Donation.sum(:amount))


  .row
    .col-lg-2
      %p= link_to "All donations", admin_donations_path
      %p= link_to "Donations with no reservation", admin_donations_path(no_reservation: true)
    .col-lg-10


      .pagination= pagy_bootstrap_nav(@pagy).html_safe

      .table-responsive
        %table.table#donations-table
          %thead
            %tr
              %th
              %th
              %th.amount Amount
              %th.email Email
              %th Reservation
              %th Note
              %th
          %tbody
            - @donations.each do |donation|
              %tr
                %td= link_to 'Details', [:admin, donation]
                %td= donation&.form&.humanize&.titleize
                %td= number_to_currency donation.amount
                %td.email= donation.email
                %td.name
                  - if donation.reservation
                    = link_to donation&.reservation&.name, admin_reservation_path(donation.reservation) if donation.reservation
                %td= donation.note
                %td.text-end= nice_short_date_time(donation.created_at)

      .pagination= pagy_bootstrap_nav(@pagy).html_safe
