%tr
  %td= link_to reservation.name, admin_reservation_path(reservation)
  %td= nice_short_date_time(reservation&.last_missing_tree_status&.created_at) if reservation.last_missing_tree_status
  %td= nice_short_date_time(reservation&.last_missing_tree_sms&.created_at) if reservation.last_missing_tree_sms
  %td
    = nice_short_date_time(reservation&.last_missing_tree_email&.created_at) if reservation.last_missing_tree_email
    = link_to admin_reservation_path(reservation, send_missing_tree_email: true), method: :patch, data: { 'turbo-method': :patch, 'turbo-confirm': 'Are you sure? This will send a missing tree email, if it has already NOT been sent. To send again, deselect this flag in settings.' } do
      %i.bi.bi-send
