.container
  .row
    .col-lg-6.border.rounded.p-4
      %h2 Missing
      %table.table.mb-0
        %tr
          %th Reservation
          %th Missing
          %th SMS
          %th Email
        - @missing_reservations.each do |r|
          %tr
            %td= link_to r.name, admin_reservation_path(r)
            %td= nice_short_date_time(r&.last_missing_tree_status&.created_at) if r.last_missing_tree_status
            %td= nice_short_date_time(r&.last_missing_tree_sms&.created_at) if r.last_missing_tree_sms
            %td
              = nice_short_date_time(r&.last_missing_tree_email&.created_at) if r.last_missing_tree_email
              = link_to admin_reservation_path(r, send_missing_tree_email: true), method: :patch, data: { 'turbo-method': :patch, 'turbo-confirm': 'Are you sure? This will send a missing tree email, if it has already NOT been sent. To send again, deselect this flag in settings.' } do
                %i.bi.bi-send
