.row
  .col-md-3
  .col-md-6
    %h1
      %i.fa-solid.fa-car
      Drivers

.row
  .col-md-3
  .col-md-6
    .table-responsive
      %table.table#drivers-table
        - @drivers.each do |driver|
          %tr
            %th= link_to driver.name, driver_driver_path(driver)
            %td= link_to driver.zone.name, driver_zone_path(driver.zone) if driver.zone
            %td= mail_to driver.email
            %td.text-end
              = link_to "tel:#{driver.phone}" do
                = driver.phone
                - if driver.phone.present?
                  %i.fa-solid.fa-phone
