#driver-profile
  .row
    .col-md-3
    .col-md-6
      %h1
        %i.fa-solid.fa-user
        = @driver.name


  .row
    .col-md-3
    .col-md-6.text-middle
      - if @driver.phone.present?
        = link_to "tel:#{@driver.phone}" do
          = @driver.phone
          %i.fa-solid.fa-phone
      %br
      = mail_to @driver.email if @driver.email


  .row
    .col-md-3
    .col-md-6
      %h2
        Zone:
        - if @driver.zone
          = @driver.zone.name
        - else
          Not assigned
