#driver-profile
  .row
    .col-md-3
    .col-md-6
      %h1
        %i.bi.bi-person-fill
        = @driver.name


  .row
    .col-md-3
    .col-md-6.text-middle
      - if @driver.phone.present?
        = link_to "tel:#{@driver.phone}" do
          = @driver.phone
          %i.bi.bi-telephone-fill
      %br
      = mail_to @driver.email if @driver.email


  .row
    .col-md-3
    .col-md-6
      %h2
        Zone:
        - if @driver.zone
          = @driver.zone.name
        - else
          Not assigned

