.container
  #contacts
    .row
      .col-lg-3
      .col-lg-6
        %h1
          %i.fa-solid.fa-phone
          Contacts


    .row.section
      .col-lg-3
      .col-lg-6
        .table-responsive
          %table.table#contacts-table
            %tr
              %th(colspan='4')
                General
            %tr.contact
              %td.name= setting.contact_name
              %td.phone
                - if setting.contact_phone
                  = link_to "tel:#{setting.contact_phone}" do
                    = setting.contact_phone

              %td.email= mail_to(setting.contact_email) if setting.contact_email


            %tr
              %th(colspan='4')
                Zone leaders
            - @zone_leaders.each do |driver|
              %tr.contact
                %td.name
                  = driver.name
                  - if driver.zone
                    = surround("(", ")") do
                      = driver&.zone&.name
                %td.phone
                  - if driver&.phone
                    = link_to "tel:#{driver&.phone}" do
                      =driver&.phone

                %td.email= mail_to driver&.email if driver&.email



