#contacts.container
  .row
    .col-lg-12
      %h1
        %i.bi.bi-telephone-fill
        Contact

  .row.section
    .col-lg-3
    .col-lg-6
      .table-responsive
        %table.table#contacts-table
          %tr
            %th(colspan='4')
              General
          %tr.contact
            %td.name= setting.contact_name
            %td.phone
              - if setting.contact_phone
                = link_to "tel:#{setting.contact_phone}" do
                  = setting.contact_phone

            %td.email= mail_to(setting.contact_email) if setting.contact_email




#drivers.container
  = render 'driver/drivers/drivers'
