!!!
%html(lang="en")
  = render 'shared/head'
  = render 'shared/stripe' if controller_name == 'donations'

  %body
    = render 'shared/header'

    .container.main
      .row
        - if [ 'reservations' , 'donations' ].include?(controller_name) && !['thank-you-for-your-donation', 'show'].include?(action_name)
          .col-xl-3
            = render 'shared/side_info'
          .col-xl-9
            = render 'shared/flash'
            = yield
        - else
          .col-md-3
          .col-md-6
            = render 'shared/flash'
            = yield

    = render 'shared/footer'


    = render 'donations/stripe_js'
